body{
	background: white;
}
.main{
	position: relative;
    background: rgb(255, 255, 255);
	background-repeat: repeat;
	background-position: center;
	margin: 0 auto;
	height: 1310px;
	width: 911px;
}
.righticon {
	width: 75px;
	margin: 18px 9px;
	border: 1px solid #c0c7ca;
	border-radius: 9px;
	float: right;
	line-height: 19px;
}
.righticon li {
	width: 14px;
	float: left;
	padding: 0 3px 0 6px;
}
.centercolumn {
	width: 498px;
	height: 25px;
	float: right;
    margin: 19px 5px 0 0;
	border-radius: 3px;
	background: -moz-linear-gradient( -90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
	background: -webkit-linear-gradient( -90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
	background: -ms-linear-gradient( -90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
	box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
}
.centercolumn li{
	float: left;
}
.centercolumn li a{
	font-family: "Lucida Sans Unicode";
	line-height: 25px;
}
.centercolumn img{
	margin: 4px 0 0 9px;
}
.log{
	margin: 0 6px;
	font-size: 11px;
	text-decoration: none;
	color: white;
}
.sign{
	font-size: 11px;
	text-decoration: none;
	color: white;
}
.pasword{
	margin: 0 0 0 15px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}
.log:after{
	margin: 0 0 0 4px;
	content: "";
	border: 1px solid white;
}
.centercolumn input{
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
}
.login2{
	margin: 4px 6px 0 5px;
	width: 110px;
	height: 10px;
	line-height: 10px;
}
.pass2{
	margin: 4px 0;
    width: 110px;
	height: 10px;
	line-height: 10px;
}
.number{
	width: 300px;
	line-height: 30px;
	margin: 17px 0 0 2px;
	float: left;
}
.number li{
	color: rgb(94, 105, 109);
	font-size: 18px;
	font-family: "Arial";
	padding: 0 6px;
	float: left;
}
.img:before{
	padding: 0 5px 4px 20px;
	content: "";
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
}
.clear:after{
	content: "";
	display: table;
	clear: both;
}
.menu{
	display: flex;
	border: 1px solid black;
	border-radius: 2px;
	width: 909px;
	line-height: 31px;
	background: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	float: left;
}
.menuleft li{
	float: left;
}
.menuleft ul{
	margin-left: 129px;
}
.menuleft li a{
	padding: 2px 15px;
	font-size: 14px;
	text-align: center;
	font-family: "Lucida Sans Unicode";
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}
.menuleft li a:hover{
	background: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
     background: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
     background: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
	border-radius: 10px;
}
.menuright ul{
	margin: 0 0 0 36px;
	float: left;
}
.menuright li{
	padding: 0 10px;
	float: left;
	font-family: "Arial";
	font-size: 11px;
	color: rgba(255, 255, 255, 0.7);
}
.prod b{
	font-size: 12px;
	color: #11446a;
	font-size: 12px;
}
.summa b{
	font-size: 12px;
	color: #11446a;
	margin: 0 7px;
}
.prod:before{
	content: "";
	background-image: url(../img/icon1.png);
	background-repeat: no-repeat;
	padding: 2px 14px;
}
.menu:after{
	content: "";
	display: table;
	clear: both;
}
.search{
	float: left;
	margin: 14px 0;
	border:  1px solid rgb(156, 156, 157);
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(104, 104, 104, 0.75);
	height: 133px;
	width: 415px;
}
.search:after{
	content: "";
	display: table;
	clear: both;
}
.clear1:after{
	content: "";
	display: table;
	clear: both;
}
.maintext{
	font-family: "Arial Black";
	font-size: 12px;
	color: #154467;
	text-align: center;
}
.search a{
	float: right;
}
.maintext:after{
	padding: 0 0 0 75px;
	content: "Шины:";
	font-family: "Arial Black";
	color: #154468;
	font-size: 10px;
	padding: 0 px 0 30px;
}
.maintext:before{
	padding: 0 75px 0 0;
	content: "Диски:";
	font-family: "Arial Black";
	color: #154468;
	font-size: 10px;
}
.text{
	margin: 10px 0 0 19px;
	float: left;
	font-family: "Arial";
	font-size: 10px;
}
.text li{
	line-height: 15px;
}
.text span{
	color: #77858b;
}
.text p{
	line-height: 8px;
	color: #77858b;
}
.text:after{
	content: "";
	display: table;
	clear: both;
}
.select{
	margin: 5px 0 0 7px; 
	width: 101px;
	float: left;
}
.select select{
	margin: 2px 0;
	height: 17px;
	width: 101px;
}
.select3 select{
	width: 58px;
}
.select:after{
	content: "";
	display: table;
	clear: both;
}
.text1{
	line-height: 14px;
	margin: 9px 0 0 28px;
	font-family: "Arial";
	font-size: 10px;
	float: left;
}
.text1 span{
	color: #77858b;
}
.text1 p{
	margin: 0 0 2px 0;
	line-height: 8px;
	color: #77858b;
}
.selectw{
	margin: 1px 0 0 5px;
	float: left;
}
.selectw select{
	margin: 4px 0 0 0;
	height: 17px;
	width: 101px;
}
.select7 select{
	width: 58px;
}
.search a{
	margin: 10px 17px;
	font-style: italic;
	font-family: "Arial";
	font-size: 14px;
	color: #154467;
	
}
.center{
	margin: 14px 10px 0 17px;
	float: left;
	width: 192px;
	height: 133px;
	border: 1px solid rgb(156, 156, 157);
    border-radius: 18px;
    box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.75);
}
.size{
	margin: 9px 0 0 10px;
	float: left;
}
.size select{
	margin: 0 0 0 4px;
	width: 52px;
	height: 17px;
}
.center p{
	margin: 0 8px;
	font-size: 12px;
	font-family: "Arial Black";
	width: 72px;
	color: #114165;
}
.center span{
	font-weight: bold;
	font-size: 10px;
	font-family: "Lucida Sans Unicode";
	width: 38px;
}
.R{
	float: left;
	margin: 4px 0 0 45px;
}
.R b{
	padding-right: 5px;
	font-size: 11px;
	font-family: "Arial";
	font-weight: bold;
}
.center select{
	width: 50px;
}
.center .r{
	width: 45px;
}
.center a{
	float: right;
}
.box input{
	text-align: center;
}
.season{
	float: left;
}
.seasonwinter,
.seasonall{
	margin: 0 0 0 50px;
}
.seasonsum{
	margin: 2px 7px;
}
.seasonsum input,
.seasonwinter input,
.seasonall input{
	border: solid 1px rgb(17, 65, 101);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
	height: 10px;
	width: 11px;
}
.seasonsum label,
.seasonwinter label,
.seasonall label{
	font-family: 'Lucida Sans Unicode';
	font-size: 12px;
	font-weight: 400;
}
seasonname{
	font-size: 10px;	
}
.center a{
	font: italic 14px "Arial";
	color: #154467;
	margin: 45px 20px 0 0;
}
.left{
	margin: 14px 0;
	float: left;
	border: 1px solid rgb(156, 156, 157);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.75);
    width: 266px;
    height: 133px;
}
.hleftsearch{
	display: block;
	float: left;
	color: #114165;
	letter-spacing: 1px;
	font: 900 12px / 11px "Arial Black";
	margin: 0 5px
}
.leftsearch{
	clear: both;
	float: left;
	margin: 8px 12px;
}
.leftsearch li{
	color: #000000;
	font: bold 10px "Lucida Sans Unicode";
}
.leftsearch span{
	color: #77858b;
	font: 400 9px 'Lucida Sans Unicode';
}
.leftsearch p{
	color: #77858b;
	font: 400 9px 'Lucida Sans Unicode';
	width: 72px;
	line-height: 10px;
}
.leftsearch1{
	float: left;
}
.leftsearchin select,
.leftsearchin1 select,
.leftsearchin2 select{
	width: 58px;
	margin: 6px 0;
}
.leftsearchin1 select{
	width: 52px;
}
.rightsearch{
	margin: 0px 0px 0px 13px;
	padding: 0 9px;
	border-left: 1px solid grey; 
	width: 63px;
	float: left;
}
.mainprod{
	width: 910px;
	height: 629px;
}
.rightsearch span{
	color: #000000;
	font: bold 9px / 8px 'Lucida Sans Unicode';
}
.rightsearch p{
	font: 400 8px / 8px 'Lucida Sans Unicode';
	color: #77858b;
}
.rightsearch select{
	width: 58px;
}
.leftcolumnprod{
	margin: 0px 12px 0 0;
    width: 180px;
	height: 627px;
    float: left;
    background-color: #ffffff;
}
.centercolumnprod {
    border-radius: 3px;
    background: -moz-linear-gradient( 90deg, rgb(35,75,93) 0%, rgb(118,141,151) 57%, rgb(201,207,209) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(35,75,93) 0%, rgb(118,141,151) 57%, rgb(201,207,209) 100%);
    background: -ms-linear-gradient( 90deg, rgb(35,75,93) 0%, rgb(118,141,151) 57%, rgb(201,207,209) 100%);
    width: 525px;
	height: 627px;
    float: left;
}
.rightcolumnprod {
	background-color: #ffffff;
    float: right;
	width: 180px;
	height: 627px;
}
.catalag{
	margin: 2px 0px;
	border-radius: 17px;
	border: 1px solid rgb(121, 135, 141);
	box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
	color: rgb(17, 65, 101);
	text-align: center;
	line-height: 26px;
	font-family: "Lucida Sans Unicode";
	font-size: 13px;
}
.imgfile{
	margin: 2px 0px 0px 3px;
	border: 4px solid #114165;
	border-radius: 17px ;
	float: left;
	width:12px ;
	height:14px ;
	background-image: url(../img/file.png);
	background-repeat: no-repeat;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
	color: rgb(17, 65, 101);
	font-family: "Lucida Sans Unicode";
	font-size: 13px;
	line-height: 25px;
	margin: 14px 0 0 0;
	width: 149px;
	border-radius: 17px;
	border: 1px solid rgb(121, 135, 141);
}
.circle4{
	width: 135px;
	margin: 15px 0 0 11px;
}
.circle5{
	width: 135px;
	margin: 13px 0 0 8px;
}
.circle4 span{
	margin-left: 3px;
}
.circle5 span{
	margin-left: 5px;
	
}
.circle1 span,
.circle2 span,
.circle3 span{
	margin: 0 0 0 3px;
}
.circle2{
	margin: 4px 0 0 0;
}
.circle3{
	margin: 4px 0 0 0;
	
}
.circle1 b,
.circle2 b,
.circle3 b,
.circle4 b,
.circle5 b{
	border: 5px solid #114165;
	border-radius: 500px;
	float: left;
	display: block;
	height: 11px;
	width: 11px;
	margin: 2px 2px 0 4px;	
}
.namelist1 ul,
.namelist2 ul,
.namelist3 ul{
	margin: 0 0 0 36px;
	list-style-position: inside;
	list-style-type: circle;
}
.namelist1 li,
.namelist2 li,
.namelist3 li{
	margin: 4px 0;
	line-height: 20px;
}
.namelist1 a,
.namelist2 a,
.namelist3 a{
	font-size: 13px;
	font-family: "Lucida Sans Unicode";
	color: #0c3256;
	text-decoration: none;
}
.namelist1 a:hover,
.namelist2 a:hover,
.namelist3 a:hover{
	font-family: "Arial";
	font-size: 14px;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}
.namelist4,
.namelist5{
	margin: 3px 0 0 16px;
}
.checkbox1,
.checkbox2,
.checkbox3,
.checkbox4,
.checkbox5,
.checkbox6{
	color: #0c3256;
	font-size: 13px;
	font-family: "Lucida Sans Unicode";
	padding: 4px 0 0 0;
}
.checkbox1 input,
.checkbox2 input,
.checkbox3 input,
.checkbox4 input,
.checkbox5 input,
.checkbox6 input{
  border: solid 1px rgb(17, 65, 101);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.imgfile1{
	margin: 2px 5px 0px 2px;
	border: 4px solid #114165;
	border-radius: 17px ;
	float: left;
	width:12px ;
	height:14px ;
	background-image: url(../img/file.png);
	background-repeat: no-repeat;
}
.brend{
	border-radius: 17px;
	border: 1px solid rgb(121, 135, 141);
	box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
	color: rgb(17, 65, 101);
	text-align: left;
	line-height: 26px;
	font-family: "Lucida Sans Unicode";
	font-size: 13px;
}

.button input{
	margin: 20px 0 0 20px;
	color: white;
	cursor: pointer;
	border-radius: 11px; 
	border:1px solid rgb(167, 171, 174);
    background: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 84px;
	line-height: 24px;
	box-shadow: 2px 3px 3px 0px rgba(150, 150, 150, 0.75);	
}
.contein1,
.contein2,
.contein3{
	float: left;
	width: 528px;
	height: 209px;
}
.tovar1,
.tovar2,
.tovar3,
.tovar4,
.tovar5,
.tovar6,
.tovar7,
.tovar8,
.tovar9{
	float: left;
	margin: 12px 18px; 
	width: 138px;
}
.tovar1 p,
.tovar2 p,
.tovar3 p,
.tovar4 p,
.tovar5 p,
.tovar6 p,
.tovar7 p,
.tovar8 p,
.tovar9 p{
	color: black;
	text-align: center;
	font-family: "Lucida Sans Unicode";
	font-size: 13px;
}
.tovar1 figcaption,
.tovar2 figcaption,
.tovar3 figcaption,
.tovar4 figcaption,
.tovar5 figcaption,
.tovar6 figcaption,
.tovar7 figcaption,
.tovar8 figcaption,
.tovar9 figcaption{
	color: #206988;
	text-align: center;
	font-family: "Lucida Sans Unicode";
	font-size: 15px;
}
.tovar1 span,
.tovar2 span,
.tovar3 span,
.tovar4 span,
.tovar5 span,
.tovar6 span,
.tovar7 span,
.tovar8 span,
.tovar9 span{
	color: #114165;
	font-family:"Arial";
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}
.wimg1,
.wimg2,
.wimg3,
.wimg4,
.wimg5,
.wimg6,
.wimg7,
.wimg8,
.wimg9{
	border: 1px solid rgb(164, 174, 177);
	border-radius: 7px;
	background: white;
	text-align: center;
	width: 136px;
	padding: 5px 0;
}
.mainprod:after{
	content: "";
	display: table;
	clear: both;
}
.marka{
	line-height: 28px;
	text-align: center;
}
.copy{
	height: 99px;
	width: 910px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(36, 42, 60);
    background: -moz-linear-gradient( 90deg, rgb(47,47,47) 0%, rgb(78,78,78) 57%, rgb(108,108,108) 100%);
    background: -webkit-linear-gradient( 90deg, rgb(47,47,47) 0%, rgb(78,78,78) 57%, rgb(108,108,108) 100%);
    background: -ms-linear-gradient( 90deg, rgb(47,47,47) 0%, rgb(78,78,78) 57%, rgb(108,108,108) 100%);
	background: #213a4d;
}
.copy ul{
	line-height: 10px;
	width: 300px;
	margin: 10px 310px;
	float: left;
	text-align: center;
}
.copy li{
	padding: 0 5px; 
	float: left;
}
.border{
	border-right: 1px solid rgb(141, 152, 159);
}
.copy a{
	margin: 0 6px;
	font-size: 12px;
	font-family: "Arial";
    color: rgb(141, 152, 159);
	text-decoration: none;
}
.copy a:hover{
	color: #52abcb;
}
.copy p{
	margin: 38px 0;
	font-size: 10px;
	font-family: "Arial";
	color: #7f4740;
	text-align: center;
}
.copy:after{
	content: "";
	display: table;
	clear: both;
}