@font-face {
  font-family: "Ubuntu Medium";
  src: url("../font/Ubuntu-M.ttf"); }
@font-face {
  font-family: "Ubuntu Light";
  src: url("../font/Ubuntu-L.ttf"); }
@font-face {
  font-family: "Ubuntu Condensed";
  src: url("../font/Ubuntu-C.ttf"); }
* {
  margin: 0;
  padding: 0; }

body {
  background: white; }

.header-icons {
  margin: 50px 0 0 0;
  float: right; }
  .header-icons a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.2); }
    .header-icons a span:hover {
      color: #248cec; }

.header-icons:after {
  content: '';
  display: table;
  clear: both; }

.main {
  width: 100%; }

.wrapper {
  width: 1160px;
  margin: 0 auto; }

.logo {
  display: inline-block;
  margin: 20px 5px 30px 5px; }

.logo-icon:after {
  content: '';
  display: table;
  clear: both; }

header {
  line-height: 56px;
  display: block;
  background-color: #2a2d32;
  width: 1160px; }
  header li {
    border-right: 1px solid #181a1d;
    border-left: 1px solid #181a1d;
    float: left;
    list-style: none;
    width: 114px;
    text-align: center;
    line-height: 56px; }
  header a {
    color: #ffffff;
    text-decoration: none;
    color: #ffffff;
    font: 400 14px / 20px "Ubuntu Condensed"; }
  header a:hover {
    color: #f4b60d; }
  header input {
    border: 1px solid #181a1d;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.15);
    font: 400 12px / 20px 'Arial';
    float: right;
    width: 226px;
    line-height: 40px;
    margin: 5px 5px;
    padding-left: 15px; }
  header .home {
    background-color: #248cec;
    border: #248cec; }

header:after {
  content: '';
  display: table;
  clear: both; }

.genericon-search {
  cursor: pointer;
  position: relative;
  left: 550px;
  top: 17px;
  color: rgba(255, 255, 255, 0.2); }

.genericon-search:hover {
  color: #248cec; }

header:after {
  content: '';
  display: table;
  clear: both; }

.info {
  margin: 0 0 50px 0;
  width: 100%; }
  .info h1 {
    float: left;
    text-align: center;
    height: 80px;
    width: 80px;
    color: rgba(42, 43, 46, 0.1);
    font: 500 90px "Ubuntu Medium"; }
  .info a {
    color: #2a2b2e;
    font: 500 13px / 20px 'Ubuntu Light';
    margin: 0 0 0 100px;
    text-decoration: none; }
    .info a img {
      margin-top: 10px;
      margin-left: 5px; }
  .info a:hover {
    color: #248cec; }

.info-first_text,
.info-second_text,
.info-third_text {
  margin-top: 15px;
  margin-left: 100px;
  width: 237px;
  line-height: 20px;
  color: #8a8a8a;
  font: 400 13px / 20px 'Arial'; }

.icon {
  margin: 35px 0 0 20px; }

.info-first,
.info-second,
.info-third {
  margin: 0 10px;
  width: 360px;
  float: left; }

.info-first_title, .info-third_title {
  color: #2a2b2e;
  font: 500 20px / 20px 'Ubuntu Light';
  width: 117px;
  margin-left: 100px; }

.info-second_title {
  color: #2a2b2e;
  font: 500 20px / 20px 'Ubuntu Light';
  margin-left: 100px;
  width: 167px; }

.info:after {
  content: '';
  display: table;
  clear: both; }

.service {
  width: 100%;
  height: 500px;
  background-color: #2a2d32; }
  .service h1 {
    padding: 43px 0 0 0;
    color: #ffffff;
    font: 500 24px / 20px 'Ubuntu Condensed'; }
  .service .service-box-list li {
    margin: 53px 0 0 0;
    list-style: none;
    float: left;
    width: 260px;
    height: 260px; }
  .service .service-box-list .service-list-1,
  .service .service-box-list .service-list-2,
  .service .service-box-list .service-list-3 {
    margin-right: 40px; }
  .service .service-box-list span {
    width: 100%;
    height: 160px;
    opacity: 0;
    padding-top: 100px;
    transition: opacity .2s;
    background-color: rgba(37, 140, 233, 0.8);
    color: white;
    font-size: 50px; }
  .service .service-box-list figcaption {
    margin-top: 20px;
    color: #ffffff;
    font: 500 16px / 20px "Ubuntu Light";
    text-align: center; }
  .service .service-box-list figcaption:hover {
    cursor: pointer;
    color: #f4b60d; }

.service-box-list:after {
  content: '';
  display: table;
  clear: both; }

.service-list-1:hover span, .service-list-2:hover span, .service-list-3:hover span, .service-list-4:hover span {
  opacity: 1;
  cursor: pointer; }

.service-list-1 figure {
  background: url(../img/1.jpg);
  background-repeat: no-repeat;
  width: 260px;
  height: 260px; }

.service-list-2 figure {
  background: url(../img/2.jpg);
  background-repeat: no-repeat;
  width: 260px;
  height: 260px; }

.service-list-3 figure {
  background: url(../img/3.jpg);
  background-repeat: no-repeat;
  width: 260px;
  height: 260px; }

.service-list-4 figure {
  background: url(../img/4.jpg);
  background-repeat: no-repeat;
  width: 260px;
  height: 260px; }

.service-box {
  width: 1160px;
  margin: 0 auto; }

.service-box-list:after {
  content: '';
  display: table;
  clear: both; }

section {
  width: 100%;
  background-color: #f7f7f7;
  padding-bottom: 50px; }

.news {
  width: 1200px;
  margin: 0 auto;
  padding-top: 25px; }
  .news ul {
    list-style: none; }
  .news span {
    color: #248cec; }
  .news img {
    float: left;
    margin-right: 35px; }

.news-first,
.news-second {
  width: 560px;
  height: 150px; }

.news h2 {
  display: inline-block;
  font-family: "Ubuntu Medium";
  font-size: 24px;
  color: #2a2d32;
  letter-spacing: 1px; }

.news-first__title,
.news-second__title {
  display: inline-block;
  font-family: "Ubuntu Medium";
  font-size: 16px;
  color: #2a2d32;
  padding-top: 7px;
  margin-bottom: 10px; }

.news-first__title:hover,
.news-second__title:hover {
  color: #248cec;
  cursor: pointer; }

.news-first .top {
  z-index: 1;
  position: relative;
  margin-left: -205px;
  margin-top: 12px; }

.crutch {
  float: left; }

.news-second {
  margin-top: 40px; }
  .news-second .top {
    z-index: 1;
    position: relative;
    margin-top: 15px;
    margin-left: -205px; }

.news-first__comments,
.news-second__comments {
  margin-bottom: 30px;
  display: inline-block; }

.news-first__text,
.news-second__text {
  width: 377px;
  text-align: left;
  height: 73px;
  color: #8a8a8a;
  font: 400 13px / 20px 'Arial';
  margin-left: 150px; }

.banners {
  margin: 40px;
  float: left;
  width: 550px; }
  .banners h3 {
    margin-right: 300px;
    display: inline-block;
    font-family: "Ubuntu Medium";
    font-size: 24px;
    color: #2a2d32;
    letter-spacing: 1px; }

button.accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #e8e8e8;
  text-align: left;
  outline: none;
  font-family: "Ubuntu Medium";
  font-size: 13px;
  margin-bottom: 10px; }
  button.accordion.active {
    background-color: #f4b60d;
    color: white; }
  button.accordion:before {
    content: '\02795';
    font-size: 13px;
    float: left;
    margin: 0 15px; }
  button.accordion.active:before {
    content: "\2796"; }

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #8a8a8a;
  background-color: #f7f7f7; }
  div.panel.show {
    opacity: 1;
    max-height: 500px;
    max-width: 69%;
    padding: 12px 6px;
    margin-bottom: 12px; }

.news-first:after {
  content: '';
  display: table;
  clear: both; }

.news:after {
  content: ".";
  display: table;
  clear: both; }

.crutch:after {
  content: ".";
  display: table;
  clear: both; }

.logos {
  width: 1180px;
  margin: 0 auto; }
  .logos img {
    padding: 30px; }

footer {
  padding-top: 50px;
  width: 100%;
  background-color: #2a2d32; }

.menu-socials,
.menu-links,
.menu-blogroll,
.menu-about {
  display: inline-block;
  padding: 10px 20px;
  width: 245px; }

.menu {
  width: 1160px;
  margin: 0 auto; }
  .menu h2 {
    color: white;
    font-family: "Ubuntu Medium";
    font-size: 16px;
    margin-bottom: 30px; }
  .menu li {
    border-bottom: 1px solid #393c40;
    padding: 10px 0; }
  .menu a {
    color: #828385;
    font-size: 13px;
    font-family: Arial, sans-serif;
    text-decoration: none; }
    .menu a:hover {
      cursor: pointer;
      color: #248cec; }
  .menu ul {
    list-style: none; }
  .menu li:last-child {
    border: none; }

.footer-bottom {
  background-color: #35383c; }
  .footer-bottom ul {
    width: 1150px;
    margin: 0 auto;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px; }
    .footer-bottom ul li {
      display: inline-block;
      font-family: Arial, sans-serif;
      font-size: 12px;
      color: #6f7073;
      line-height: 25px;
      padding-right: 30px; }
  .footer-bottom span {
    margin-top: 4px;
    color: #6f7073; }
  .footer-bottom ul li:last-child {
    padding-left: 350px; }

/*# sourceMappingURL=style.css.map */
