.main{
	margin: 0 auto;
    width: 595px;
    padding: 30px;
	background: white;
}
body{
	margin: 0 auto;
	background: grey;
}
.box1{
	text-align: center;
}
#univer{
	text-align: left;
	margin-left: 20px;
}
.box2,
.box3,
.box4{
	margin-left: 20px;
	border-top: 1px solid;
}
span{
	display: block;
}