@font-face {
  font-family: 'Exo 2.0';
  src: url('../fonts/Exo20-Regular.woff2') format('woff2'),
  url('../fonts/Exo20-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0';
  src: url('../fonts/Exo20-SemiBold.woff2') format('woff2'),
  url('../fonts/Exo20-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
