* {
  transition: all 0.2s ease-in-out !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  &.mobile {
    * {
      cursor: none !important;
      outline: none !important;

    }
  }
}

.overflow-style {
  height: min-content;
  overflow: hidden;

}

span {

  font-weight: $fontR;
  font-family: 'Exo 2.0', sans-serif;

}

p {
  line-height: 1.2em;
  transition: color 0.2s ease-in;
  font-family: 'Exo 2.0', sans-serif;
  font-weight: $fontR;
  color: #000;

}

.h1-title, .h2-title {
  a {
    font-weight: $fontSB;
  }
}

img, picture {
  display: block;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.banner-item, .num-of-day_img, .quote-of-the-img {
  img {

    &:hover {
      transform: none !important;
    }
  }
}

.arrow-svg-right {
  transition: all 0.2s ease-in-out;
}

a {
  font-family: 'Exo 2.0', sans-serif;
  font-weight: $fontR;
  color: #000;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease-in;


  path {
    transition: all 0.2s ease-in-out;
  }

  * p {
    transition: all 0.2s ease-in;
  }

  &:hover {

    .arrow-svg-right {
      transform: translateX(5px);

      path {
        fill: #d24a43 !important;
      }
    }

    color: #d24a43 !important;


    * p {
      color: #d24a43 !important;
    }
  }

}

.main-wrapper {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-content {
  width: 100%;
  padding: 0 20px;
  max-width: 1005px;
  min-width: 1px;
  @media screen and (max-width: 425px) {
    padding: 0 10px;

  }
}

//1024 max-width decks
//905 max-width tablet
//800 max-width mob
//540 max-width mob 2

body {
  &.active {
    overflow: hidden;
  }
}

.br-theme-css-stars .br-widget {
  height: 24px;
  white-space: nowrap;
}

.br-theme-css-stars .br-widget a {
  text-decoration: none;
  height: 18px;
  width: 18px;
  float: left;
  font-size: 20px;
  margin-right: 5px;
}

.br-theme-css-stars .br-widget a:after {
  content: "\2605";
  color: #d2d2d2;
}

.br-theme-css-stars .br-widget a.br-active:after {
  color: #EDB867;
}

.br-theme-css-stars .br-widget a.br-selected:after {
  color: #EDB867;
}

.br-theme-css-stars .br-widget .br-current-rating {
  display: none;
}

.br-theme-css-stars .br-readonly a {
  cursor: default;
}

@media print {
  .br-theme-css-stars .br-widget a:after {
    content: "\2606";
    color: black;
  }
  .br-theme-css-stars .br-widget a.br-active:after,
  .br-theme-css-stars .br-widget a.br-selected:after {
    content: "\2605";
    color: black;
  }
}
