body{
    border: #e1e1e1;
    background: #188cef;
    color: #ffffff;
    font: 500 17px / 18px Roboto;
    background-color: 75;
    color: #188cef;
    font: 400 14px / 24px Roboto;
    color: #252525;
    font: 400 14px / 24px Roboto;
    color: #188cef;
    font: 400 14px / 24px Roboto;
    color: #363636;
    font: 300 14px / 24px Roboto;
    color: #252525;
    font: 500 16px / 24px Roboto;
    color: #188cef;
    font: 500 16px / 24px Roboto;
    box-shadow: 0px 1px 2px 0.00px rgba(0, 0, 0, 0.2);
    color: #252525;
     background: 
    font: 500 16px / 24px Roboto;
}