/jsmodul18-19/node_modules/
/jsmodul17-18/node_modules/
/js19-20/node_modules/
/node_modules/
/js21-22/node_modules/
/js21-22/task2/node_modules/
/final_exam/node_modules/
/final_exam/.sass-cache/
/final_exam/.sass-cache/ef76f37522fbb213882e0ba2c41551010c494896/
/testVadim/node_modules/
