body{
	background-color: #f9f9f9;
	background-repeat: repeat;
}
@font-face {
    font-family: MyriadPro; 
    src: url(../font/MyriadPro-Regular.otf);
}
.container{
	margin: 0 auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	background-color: #fff;
	background-position: center;
	width: 1060px;
	padding: 0 0 50px 0;
}
.logo {
	padding: 50px 0 0 46px;
}
.panel{
    background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	background-image: linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	margin: 40px 0 0 46px;
	width: 972px;
}
.panel li{
	display: inline-block;
}
.link{
	font-size: 14px;
	display: block;
	letter-spacing: normal;
	margin: 0 1px;
	padding:  5px 30px;
	text-decoration: none;
	font-family: "MyriadPro";
	color: rgb(255, 255, 255);
	line-height: 40px;
	text-align: center;
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 1);
}
.panel a:hover{
	margin: 0;
    background-image: linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}
.main:after{
	content: "";
	display: table;
    clear: both;
}
.clear{
	float: left;
	width: 240px;
	margin: 40px 0 0 46px;
	
}
.leftmenu{
	border: 1px solid  #c8c8c8;
}

.leftmenu li{
	border-bottom: 1px solid  #c8c8c8;
}
.leftmenu a{
	padding: 0 20px;
	display: block;
	font-size: 14px;
    font-family: MyriadPro;
    color: rgb(101, 99, 99);
    line-height: 3;
    text-align: left;
	text-decoration: none;
}
.leftmenu a:hover{
    background-color: #f9f9f9;
    padding: 0 20px 0 40px;
}	
.centre{
	float: right;
	width: 648px;
	margin: 40px 42px 0 0;
}
.centre:after{
	content: "";
	display: table;
    clear: both;
}
.bike {
	display: inline-block;
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
	padding: 40px 50px 40px 96px;
}
.text{
	float: right;
    font-size: 13px;
    font-family: MyriadPro;
    color: rgb(44, 44, 44);
    display: inline-block;
    line-height: 20px;
    margin: 40px 0 0 0px;
    text-align: left;
}

.class{
	margin:0 48px 0 46px;
    margin-top: 80px; 
	height: 40px;
	background-color: #e1e1e1;
	clear: both;
}
.menu2{
	float: left;
}
.menu2 li{
	display: inline-block;
	line-height:normal;
	letter-spacing:normal;
	line-height: 40px;
	margin: 0 30px;
}
.menu2 a{
	text-decoration: none;
	text-align: center;
	color: rgb(44, 44, 44);
	font-family: MyriadPro;
	font-size: 14px;
}
.menu2 a:hover{
	text-decoration: underline;
}
.copyright{
	padding-right: 48px;
	float: right;
	line-height: 43px;
	font-size: 14px;
}
.menu2:after{
	content: "";
	display: table;
	clear: both;
