body{
	background-color: #f9f9f9;
	background-repeat: no-repeat;
}
@font-face {
    font-family: MyriadPro; 
    src: url(../font/MyriadPro-Regular.otf);
}
.container{
	margin: 0 auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	background-color: #fff;
	background-position: center;
	width: 1060px;
	padding: 0 0 50px 0;
}
.logo {
	padding: 50px 0 0 46px;
}
.panel{
    background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	background-image: linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	margin: 40px 0 0 46px;
	width: 972px;
}
.panel li{
	display: inline-block;
}
.link{
	font-size: 14px;
	display: block;
	letter-spacing: normal;
	margin: 0 1px;
	padding:  5px 30px;
	text-decoration: none;
	font-family: "MyriadPro";
	color: rgb(255, 255, 255);
	line-height: 40px;
	text-align: center;
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 1);
}
.panel a:hover{
	margin: 0;
    background-image: linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}
.leftmenu{
	float: left;
	width: 240px;
	margin:40px 0 0 46px;
	border: 1px solid  #c8c8c8;
}

.leftmenu li{
	border-bottom: 1px solid  #c8c8c8;
}
.leftmenu a{
	padding: 0 20px;
	display: block;
	font-size: 14px;
    font-family: "MyriadPro";
    color: rgb(101, 99, 99);
    line-height: 3;
    text-align: left;
	text-decoration: none;
}
.leftmenu a:hover{
    background-color: #f9f9f9;
    padding: 0 20px 0 40px;
}		
.bike {
	display: inline-block;
	margin: 40px 0 0 70px;
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
	padding: 40px 50px 40px 96px;
}
.text{
	float: right;
    font-size: 13px;
    font-family: "MyrsiadPro";
    color: rgb(44, 44, 44);
    display: inline-block;
    line-height: 20px;
    margin: 40px 90px 0 370px;
    text-align: left;
}
.centre:after{
	content: "";
	display: table;
    clear: both;
}
.menu2{
	display: inline-block;
	margin: 80px 0 0 46px;
	font-size:0; 
	line-height:0; 
	letter-spacing:-1px;
}

.menu2 li{
	background-color: #e1e1e1;
	display: inline-block;
	line-height:normal;
	letter-spacing:normal;
	line-height: 40px;
}
.menu2 a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: rgb(44, 44, 44);
	font-family: "MyriadPro";
	font-size: 14px;
	padding: 0 24px;
	margin-right: 48px;
	
}
.menu2 a:hover{
	text-decoration: underline;
}
.copyright{
	float: right
}
.menu2:after{
	content: "";
	display: table;
	clear: both;
}
.copyright{
	line-height: 40px;
	font-size: 14px;
	background-color: #e1e1e1;
	margin: 80px 48px 0 0;
	padding: 0 38px 0 206px;
}





