@font-face {
  font-family: 'league_gothicregular';
  src: url('../fonts/league_gothic-webfont.eot');
  src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/league_gothic-webfont.woff2') format('woff2'),
    url('../fonts/league_gothic-webfont.woff') format('woff'),
    url('../fonts/league_gothic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
