*{
    margin: 0;
    padding: 0;
}
.firstname,
.lastname,
.password{
    margin: 20px;
}
label{
    display: inline-block;
}
.title{
    color: #b76868;
    border-radius: 5px;
    margin: 0 20px;
    display: none;
    background: #bababa;
}
