
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    z-index: 1;
    width: 1280px;
}
.navigation a{
    padding: 0 5px;
    color: #363636;
    font: 400 14px Roboto;
    text-decoration: none;
}
.readMore{
    background: url("../images/mainFhoto.png") no-repeat center;
    height: 472px;
    overflow: hidden;
    
}   

.readMore button{
    margin: 33px 0 0 122px;
    cursor: pointer;
    font: 500 17px / 18px Roboto;
    background: #188cef;
    border: none;
    border-radius: 20px;
    line-height: 42px;
    padding: 0 22px;
    color: white;
}

.readMore h1{
    margin: 150px 0 0 124px;
    color: white;
    font: 700 56px / 48px Roboto;
}
.readMore p{
     margin: 20px 0 0 124px; 
    color: rgba(255, 255, 255, 0.6);
    font: 500 18px / 28px Roboto;
}
.products{
    padding-bottom: 120px;
    overflow: hidden;
    background: #f2f2f2;
}
.topic{
    margin: 90px 0 0 122px;
    color: #252525;
    font: 700 46px / 48px Roboto;
}
.container{
    margin-top: 55px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.container-content{
    margin: 15px;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
}

.container-content p{
    margin: 30px 0;
    text-align: center;
    line-height: 34px;
    color: #252525;
    font: 700 18px / 18px 'Open Sans';
}
.container-content button{
    background: none;
    color: #188cef;
    font: 500 15px / 18px Roboto;
    border: 2px solid #188cef;
    padding: 0 18px;
    line-height: 36px;
    border-radius: 20px;
}
.secondPhoto{
    background: url("../images/secondphoto.jpg") no-repeat  center;
    
    overflow: hidden;
}
.secondPhoto h1{
    margin: 137px 0 0 0;
    text-align: center;
    color: #ffffff;
    font: 700 42px / 48px Roboto;
}
.secondPhoto h2{
    margin: 20px 0 80px  0;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font: 300 22px / 28px Roboto;
}
.news{
    overflow: hidden;
    background: #f2f2f2;
}
.news h1{
    color: #252525;
    font: 700 46px / 48px Roboto;
    margin: 70px 0 0 120px;
}
.news-block{
    padding-bottom: 74px;
    margin: 26px 0 0 0; 
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.news-block_content{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: white;
    margin: 7px 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
}
.news-block_content img{
    border-radius: 5px 5px 0 0;
}
.news-block_content p{ 
    color: #252525;
    font: 900 16px / 24px Roboto;
}
.news-block_content a{
    margin-left: 21px;
    color: #188cef;
    font: 500 16px / 24px Roboto;
    text-decoration: none;
    cursor: pointer;
}



.contacts {
    overflow: hidden;
    background: white;
    margin: 67px 0 0 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.contacts-left{
    margin: 0 0 80px 120px;
    
}
.contacts-right{
    margin:  100px 120px 0 0;
    display: flex;
    flex-direction: column;
}
#address{
    margin-bottom: 0;
}
.contacts h1 {
    margin: 80px 0 60px 0;
    display: flex;
    color: #252525;
    font: 700 46px / 48px Roboto;
}
.contacts-left span{
    color: #808080;
    font: 400 10px Roboto;
}
.contacts-left p {
    margin-bottom: 20px;
    color: #252525;
    font: 400 18px Roboto;
}

.contacts-right label{
    color: #808080;
    font: 400 10px Roboto;
}
.contacts-right input{
    margin-top: 6px;
    margin-bottom: 17px;
    color: #252525;
    font-size: 18px;
    padding:  0 0 0 15px;
    border-radius: 20px;
    width: 275px;
    line-height: 36px;
    background: none;
    border: 1px solid #e1e1e1 ;
}
#btn{
    margin-top: 4px;
    cursor: pointer;
    height: 44px;
    background: #188cef;
    border-radius: 20px;
    border: 1px solid #188cef;
    color: #ffffff;
    font: 18px Roboto;
}
footer{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background: #f2f2f2 ;
}
.copy{
    display: flex;
    flex: auto;
    margin-left: 40px;
    color: #363636;
    font: 300 14px / 24px Roboto;
    line-height: 75px;
}

footer ul{
    width: 100%;
    margin-right: 36px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end
}
footer li{
    padding: 0 7px;
    line-height: 75px;
}
.contact{
    display: flex;
}
.ourMail{ 
    color: #188cef;
    font-family: Roboto;
    text-decoration: underline;
}

    header{
        margin:0 0 20px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    header img{
        padding: 20px 0 0  30px
    }

    header button{
        display: none;
    }
    .navigation {
        margin-top: 21px;
        margin-right: 32px;
        align-items:center;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    .navigation li {
        margin-left: 30px;
        letter-spacing: 1px;
    }
    .navigation a:hover{
        color: #5f2769;
        
    }
@media screen and (min-width: 641px) {

    .bottom3,
    .bottom5,
    .bottom8{
        margin-top: 85px;
    }
    .bottom6{
        margin-top: 35px;
    }
    .bottom7,
    .bottom1,
    .bottom2,
    .bottom4{
        margin-top: 60px;
    }
    
    .phoneMenu{
        display: none;
    }
    #btn:hover{
        background: #0138ef;
    }
    .hover{
        cursor: pointer;

    }
    .hover:hover{
        background: #67b9ff;
        color: #000000;
    }
    .news-block_content {
        height: 295px;
    }
    .news-block_content p{
    width: 208px;
    margin: 10px 0 0 20px; 
}
    .container-content{
    width: 300px;
    height: 295px;
   
}

.container-content p{
    margin: 30px 0;
}
.container-content button{
    padding: 0 18px;
    line-height: 36px;
    border-radius: 20px;
}
    .menuBtn{
        display: none;
        
    }
    .container-content_first{
        width: 75px;
        height: 100px;
    }
    .container-content_third{
        width: 79px;
        height: 100px;
    }
    .container-content_second{
        width: 111px;
        height: 100px;
    }
    #mobile{
        display: none;
    }
    .button{
        display: none;
    }
    .news-block_content a:hover{
        color: #aa2462;
    }s
    
}
@media screen and (min-width: 1px) and (max-width: 640px) {

    .closeBtn{
        float: right;
        margin-right: 33px;
    }
    .phoneMenu ul{
        margin-top: 320px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        
    }
    .phoneMenu li{
        cursor: pointer;
        color: #252525;
        font: 400 52px / 41px Open Sans;
        margin-bottom: 95px;
        
    }
    .phoneMenu{
        width: 100%;
        height: 1024px;
        background-color: #ffffff;
        z-index: 2;
        display: none;
        position: absolute;
    }
    .secondPhoto{
        background-size: cover;
    }
    .secondPhoto h1 {
        margin: 0;
        padding: 0 20px;
    }
    .secondPhoto h2{
    color: rgba(255, 255, 255, 0.8);
    font: 300 28px / 36px Roboto;
    margin: 30px 0 80px 0;
    padding: 0 1px;
    }

    .menuBtn{
        margin: 4px 12px 0 0;
    }
    .news h1{
        
        margin: 100px 0 0 30px;
    }
    .wrapper{
        width: 100%;
    }
    header{
        margin: 25px 0 25px 0;
        display: flex;
        justify-content: flex-end;
    }
    header img{
        margin: 0 0 0 30px;
        display: flex;
        padding: 0;
        
    }
    
    .product{
        display: flex;
        justify-content: center;
        flex-flow: column wrap;

    }
    .container{
        display: flex;

    }
    .readMore{
    }
    .readMore h1{
        color: #ffffff;
        margin:177px 0 0 34px;
    }
    .readMore p{
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.6);
        font: 500 26px / 28px Roboto;
        margin: 23px 0 0 34px;
    }
    .readMore button{
        padding: 0;
        
        margin: 55px 0 0 31px;
        color: #ffffff;
        font: 500 30px Roboto;
        width: 229px;
        height: 68px;
        border-radius: 300px;
    }
    .topic{
        margin: 170px 0 0 30px;
        padding: 0;
        text-align: left;
    }

    .container-content{
        width: 580px;
        display: flex;
        flex-flow: column wrap;
        height: 570px;
        margin: 0 30px 40px 30px;
        padding:0;
    }
    .container-content p{
        margin: 61px 0 0 0;
        color: #252525;
        font: 700 30px "Open Sans";
    }
    
    .container-content button{
        width: 228px;
        height: 68px;
        border: 3px solid #188cef;
        border-radius: 30px;
        font-size: 30px;
        margin: 87px 0 0 0;
        
    }
    .news-block_content{
        display: none;
    }
    #mobile{
     margin: 22px 0 0 0;
     width: 90%;
     display: flex;   
    }
    .navigation {
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    #mobile p{
        margin: 40px 30px 0 42px;
        color: #252525;
        font: 500 32px / 38px Roboto;
    }
    #mobile a{
        margin: 175px 0 39px 42px;
        color: #188cef;
        font: 500 32px / 24px Roboto;
    }
    .button{
        cursor: pointer;
        margin: 35px 0 0 24px;
        display: block;
        border: 3px solid #188cef;
        width: 188px;
        height: 68px;
        background: none;
        color: #188cef;
        font: 500 30px / 18px Roboto;
        border-radius: 70px;
        
            
    }
    .news-block_content{
        display: none;
    }
    .contacts{
        margin: 0;
        width: 100%;
    }
    .contacts h1{
        margin: 95px 0 68px 0;
    }
    .contacts-left{
        margin: 0 0 0 32px;
    }
    .contacts-left span{
        color: #808080;
        font: 400 24px Roboto;
    }
    #phone{
        margin: 0px;
    }
    #number{
        margin: 20px 0 30px 0;
    }
    #mailName{
        margin: 20px 0 35px 0;
        font-size: 35px;
    }
    #address{
        margin: 20px 0 4px 0;
    }
    #address1{
    }
    .contacts-left p{
        color: #252525;
        font: 400 34px Roboto;
    }
    .contacts-left h1{
        color: #252525;
        font-family: Roboto;
        font-size: 52px;
    
    }
    .contacts-right{
        width: 900%;
        margin: 42px auto;
    }
    .contacts-right label{
        margin: 24px 0 30px 29px;
        color: #808080;
        font: 400 26px Roboto;
    }
    .contacts-right input{
        height: 68px;
        width: 89%;
        margin: 0 auto;
        border-radius: 200px;
    }
    #btn{
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 35px;
        width: 90%;
        color: #ffffff;
        font: 500 30px  Roboto;
        height: 78px;
        border-radius: 200px;
    }
    .copy{
        margin: 0;
        color: #252525;
        font: 400 26px / 24px Roboto;
    }
    footer li{
        font: 400 24px Roboto;
    
    }
    .ourMail{
        display: flex;
        align-self: flex-start;
        color: #188cef;
        font: 400 26px / 24px Roboto;
    }
    .copy, .ourNumber{
        display: flex;
        align-self: flex-end;
        
    }
    .copy{
        margin: 38px 20px 0 0;
        order: 2;
    }
    .ourNumber{
        margin: -90px 24px 0 0;
        order: 1
    }
    .news-block{
        padding: 0;
        margin: 30px 0 60px 0;
    }
    footer ul{
        margin: 18px 0 20px 0;
        width: 100%;
        flex-direction:  column;
        display: flex;
        
    }
    .ourMail{
        margin: 15px 0 0 20px;
    }
    #contact{
        margin:  36px 0 0 20px;
    }

}
