@font-face {
  font-family: 'Exo2-Regular';
  font-display: auto;
  src: url('../fonts/Exo2-Regular/Exo2-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo2-Bold';
  font-display: auto;
  src: url('../fonts/Exo2-Bold/Exo2-Bold.woff2') format('woff2');
}

$Exo2-Regular: "Exo2-Regular";
$Exo2-Bold: "Exo2-Bold";
