.jcarousel-wrapper{
    margin: 20px 0;
    
}
/** Carousel **/

.jcarousel {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 60%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    
}

.jcarousel img {
/*    display: block;*/
/*    max-width: 100%;*/
/*    height: auto !important;*/
}

/** Carousel Controls **/


.jcarousel-control-next {
    position: absolute;
    top: 20%;
    margin-top: -15px;
    left: 78%;
    width: 30px;
    height: 30px;
    text-align: center;
    opacity: 0.7;
    
}        

/*
    .jcarousel-control-next {
        right: 15px;
    }
*/
.jcarousel-control-next:hover{
    opacity: 0.9;
}
/** Carousel Pagination **/



