body{
    background: #ECECEB;
}
.wrapper{
}
header{
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    justify-content: space-around;     
}
header span{
    color: white;  
}
.logo{
    padding: 5px 0;
}
.userLogOut{
    padding: 5px 0;
    
}

.logOut{
    position: absolute;
	top: 100%;
	z-index: 47;
    border-radius: 7px;
    background: white;    
    display: none;
}
.logOut a{
    text-align: left;
    padding: 0 30px 0 5px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    
}


footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: flex-start;

}
footer span{
    padding-left: 150px;
}
.title{
    font-size: 20px;
    font-family: 'Open Sans';
    color: #6b6b6a;
    margin-left: 20%;
    margin-bottom: 10px;
    
}
.title_span{
    padding: 0 5px;
    font-size: 12px;
    }