.page2_section1 {
  padding-left: 20%;
  margin: 100px 0 90px 0;

  .h1-title {
    color: #212121;
    font-size: 54px;
    font-family: $fontM_M;
  }

}

.page2_section2 {
  padding-left: 20%;

  .h2-title {
    margin-bottom: 40px;
    color: #0064aa;
    font-family: $fontM_R;
    font-size: 32px;
  }

  .par {
    color: #212121;
    font-size: 14px;
    font-family: $fontR_L;
    max-width: 630px;
    width: 100%;
    margin-bottom: 30px;
    line-height: 1.5em;

    a {
      color: #0064aa;
      text-decoration: none;
    }
  }
}

.page2_section3 {
  padding-left: 20%;
  margin-top: 40px;

  .h2-title {
    color: #0064aa;
    font-size: 32px;
    font-family: $fontM_R;
    margin-bottom: 40px;
  }

  .par {
    color: #212121;
    font-size: 14px;
    font-family: $fontR_L;
    max-width: 630px;
    width: 100%;
    margin-bottom: 30px;
    line-height: 1.5em;

    a {
      color: #0064aa;
      text-decoration: none;
    }
  }
}

.page2_section4 {
  padding-left: 20%;
  margin-top: 40px;

  .h2-title {
    color: #0064aa;
    font-size: 32px;
    font-family: $fontM_R;
    margin-bottom: 40px;
  }

  .par {
    color: #212121;
    font-size: 14px;
    font-family: $fontR_L;
    max-width: 630px;
    width: 100%;
    margin-bottom: 30px;
    line-height: 1.5em;

    a {
      color: #0064aa;
      text-decoration: none;
    }
  }
}
