<!DOCTYPE HTML>
<html lang="en" ng-app='app'>

<head>
    <meta content="text/html; charset=UTF-8" />
    <title>obscura</title>
    <script src="../../../resources/js/jquery.js"></script>
    <script src="../../../resources/js/view.js"></script>
    <script src="../../../resources/js/mainAjax.js"></script>
<!--    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
    <!--	<script src="js/httprRequest.js"></script>-->

    <link rel="stylesheet" href="../../../resources/style/reset.css">
    <link rel="stylesheet" href="../../../resources/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div class="wrapper">

        <div class="header">
           
            <div class="logo">
                <img src="../../../resources/image/logo_obscura.png" alt="logo" width="77" height="35">
                <span class="button">
           <button class="logIn" type="button">LOGIN</button>
           <button class="singUp" type="button">SIGN UP</button>
       </span>
            </div>
            
            <div class="singUp_window">
                
                <div class="sing_form">
                  <img class="closeBtn" src="../../../resources/image/closeBtn.png" alt="" width="50" height="50">
                   
                    <h1>Sign up now <img src="../../../resources/image/iconForForm.png" alt=""></h1>
                    <h2>Fill in the form below and get instant access</h2>
                    
                </div>
                
                <div class="form">
                   
                    
                    <form action="post">
                        
                        <input type="text" placeholder="Enter name...">
                        <input type="text" placeholder="Enter e-mail...">
                        <input type="password" placeholder="Enter password...">
                        <input type="password" placeholder="Re-nter password...">
                        
                    </form>
                    <button class="submit">Sign me up!</button>
                    
                </div>
                
            </div>
            
            <div class="comp_name">
               
                <span class="line">
       <img class="line" src="../../../resources/image/Shape-171.png" alt=""><img class="ellipse" src="../../../resources/image/Ellipse-3.png" alt="">
       <img class=" line line_first" src="../../../resources/image/Shape-172.png" alt="">
       </span>
                <h2 class="slogan">Create history - were here to record it</h2>
                <h3>
                <button id="button" class="comp_name-button" type="button">SIGN UP</button>
                </h3>

            </div>
        </div>
        
        <footer>
           
            <span class="copyright">Copyright &copy; by Obscura 2016</span>
            <span>
            <button type="button">Login</button>
            <button class="foo" type="button">Sign up</button>
            </span>
            
        </footer>

    </div>

</body>

</html>
