body{
	background-image: url(../img/background.png);
	background-repeat: repeat-x;
	height: 1021px;
	width: 1920px;

}
.main{
	position: relative;
	width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	background-position: center;
	overflow: hidden;
    -webkit-box-shadow: -1px 6px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 6px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 6px 1px rgba(0,0,0,0.75);
}
.logo{
	float: left; 
	height: 173px;
	width: 309px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
}
.logo:after {
    display: block;
    content: ' ';
    clear: both;
}
.contact{
	float: right;
	font-size: 12px;
    font-family: "Tahoma";
    color: rgba(18, 138, 167, 0.8);
    line-height: 18px;
	padding-right: 15px;
}
.h1{
	line-height: 20px;
	font-weight: bold;
}
.contact:after {
    display: block;
    content: ' ';
    clear: both;
}
.flag{
	position: absolute;
	left: 600px;
	margin: 100px 0 0 0;
	display:block;
}
.flag li{
	float: left;
	padding-right: 15px;
}
.flag li:after {
    display: block;
    content: ' ';
    clear: both;
}

.image{
	width: 1000px;
	height: 237px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	z-index: 40;
}
.menu {
	background-image: url(../img/panel.png);
	width: 1000px;
	height: 34px;
    list-style: none;
	font-size: 14px;
    font-family: "Tahoma";
    line-height: 12px;
    text-align: center;
}

ul.menu > li {
    float: left;
    position: relative;
	margin-top: 6px;
	padding-left: 50px;
}
.menu > li > a {
    display: block;
    text-decoration: none;
	color: rgb(255, 255, 255);
}
.menu > li > a:hover {
    background-color: none;
}
.submenu {
	margin-top: 20px;
	border-top: 1px solid;
    display: none;
    position: absolute;
	top: 2px;
    width: 120px;
	z-index: 47;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	line-height: 20px;
}
.submenu > li {
    display: block;
}
.submenu > li > a {
    display: block;
    color: white;
    background-color: rgb(48, 48, 48);
    text-decoration: none;
}
.submenu > li > a:hover {
    text-decoration: underline;
}
.menu > li:hover > .submenu {
    display: block;
}
.menu ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.column{
	text-align: center;
}
.leftColumn { 
	border: 1px solid #c7cacf;
	font-size: 14px;
    font-family: "Tahoma";
    color: rgb(66, 76, 67);
    line-height: 23px;
    width: 210px;
    float: left;
    background-color: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.centerColumn {
	background-color: white;
    width: 580px;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.rightColumn {
	border: 1px solid #c7cacf;
	font-size: 14px;
    font-family: "Tahoma";
    color: rgb(66, 76, 67);
    line-height: 23px;
	background-color: #edeef0;
    width: 208px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    float: right;
}
.rightColumn ul{ 
	text-align: center;
	font-weight: bold;
	
}
.leftColumn ul{ 
	text-align: center;
	font-weight: bold;
	}
.copyright{
	margin: 8px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-family: "Tahoma";
}





