.banner{
  max-width: 728px;
  width: 100%;
  margin: 0 auto 30px;
  &-sidebar{
    max-width: 300px;
    margin: 0 auto 30px;
  }
  img{
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}