
.last-news__crypto {
  vertical-align: middle;
  font-family: $Exo2-Regular;
  color: white;
  font-size: 8px;
  text-transform: uppercase;
  background: rgb(210, 74, 67);
  margin-left: 10px;
  padding: 3px 7px;
  //float: right;
  border-radius: 7px 0 7px 0;
}

.last-news__video {
  vertical-align: middle;
  width: 20px;
  img {
    width: 20px;
    height: 15px;
  }
}

.last-news__photo {
  vertical-align: middle;
  width: 20px;
  img {
    width: 20px;
    height: 15px;
  }
}

.last-news {
  &__list {
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    &--scroll {
      max-height: 345px;
      overflow-y: auto;
    }
  }
  &__item {
    font-size: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 12px;
    a {
      position: relative;
    }
    &.last {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
  &__desktop {
    @media screen and (max-width: 1220px) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    @media screen and (max-width: 1220px) {
      display: block;
    }
  }
}

.read-more {
  padding-top: 5px;
  border-top: 1px solid #000;
  &__link {
    position: relative;
    color: #d24a43;
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 15px;
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 8px;
      top: 4px;
      right: 0;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjgiPgogICAgPHBhdGggZmlsbD0iIzg4OCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNSA0LjE1MmwtLjc1MS43MzQtLjE1Ni0uMTUyTC43NTEgOCAwIDcuMjY1IDMuMzQyIDQgMCAuNzM0bC43NTEtLjczNSAzLjM0MiAzLjI2Ny4xNTYtLjE1My43NTEuNzM1TDQuODQ0IDQgNSA0LjE1MnoiLz4KPC9zdmc+Cg==');
    }
  }
}
