.pagination{
  text-align: center;
  margin-top: 15px;
  &__list{
    display: inline-block;
  }
  &__item{
    display: inline-block;
  }
  &__link{
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include transition(all 0s);
    &.active,
    &:hover{
      background-color: #d24a43;
      color: #ffffff;
    }
  }
  &__arrow{
    position: relative;
    a{
      height: 34px;
      width: 34px;
      line-height: 34px;
    }
    &-icon{
      display: inline-block;
      &:before{
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -4px;
        width: 5px;
        height: 8px;
      }
      &--left{
        &:before{
          left: 10px;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjgiPgogICAgPHBhdGggZmlsbD0iIzI4MjgyOCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNSA3LjI2NWwtLjc1MS43MzRMLjkwNyA0LjczM2wtLjE1Ni4xNTJMMCA0LjE1MWwuMTU2LS4xNTJMMCAzLjg0N2wuNzUxLS43MzQuMTU2LjE1Mkw0LjI0OS0uMDAxIDUgLjczNCAxLjY1OCAzLjk5OSA1IDcuMjY1eiIvPgo8L3N2Zz4K');
        }
      }
      &--right{
        &:before{
          right: 20px;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjgiPgogICAgPHBhdGggZmlsbD0iIzI4MjgyOCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNSA0LjE1MWwtLjc1MS43MzQtLjE1Ni0uMTUyTC43NTEgNy45OTkgMCA3LjI2NWwzLjM0Mi0zLjI2NkwwIC43MzRsLjc1MS0uNzM1IDMuMzQyIDMuMjY2LjE1Ni0uMTUyLjc1MS43MzQtLjE1Ni4xNTIuMTU2LjE1MnoiLz4KPC9zdmc+Cg==');
        }
      }
    }
  }
}