.m_votes_button {
  acronym {
    color: white;
  }
}

.quiz {
  background-color: #282828;
  padding: 20px 20px 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &__answer {
    margin-top: 20px;
  }
  &__label {
    position: relative;
    display: block;
    font-size: 16px;
    color: #ffffff;
    padding-left: 30px;
    margin-bottom: 10px;
    &.last {
      margin-bottom: 0;
    }
  }
  &__radio {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__btn {
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
  }
}

.answer {
  font-size: 16px;
  font-family:  $Exo2-Bold;
  &-group {
    color: #d24a43;
    margin-top: 18px;
    &__count {
      margin: 0 2px;
    }
    &__name {
      color: #ffffff;
       font-family: $Exo2-Regular;
    }
    &__bar {
      position: relative;
      height: 13px;
      width: 100%;
      margin-top: 8px;
      background-color: #d5d5d5;
      &:after {
        content: '';
        position: absolute;
        border: 1px solid #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      &--red-line {
        background-color: #d24a43;
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        z-index: 1;
      }
    }
  }
  &__result {
    margin-top: 30px;
    color: #ffffff;
  }
}
