
.social {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  //border: 1px solid #282828;
  box-sizing: border-box;
  padding: 20px;
  &__icons {
    text-align: center;
    @media screen and (max-width: 1220px) {
      text-align: center;
    }
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    color: #282828;
    font-size: 16px;
    font-family: $Exo2-Bold;
  }

  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 20px 25px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    .facebook-app-symbol {
    }

    &--fb {
      width: 12px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIyNSI+CiAgICA8cGF0aCBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yLjU5MyA0Ljg0MXYzLjQ0MUgwdjQuMjA5aDIuNTkzVjI1aDUuMzI4VjEyLjQ5MmgzLjU3NXMuMzM1LTIuMDE3LjQ5OC00LjIyNEg3Ljk0MlY1LjM4OWMwLS40MjkuNTgtMS4wMDcgMS4xNTUtMS4wMDdIMTJWMEg4LjA1MmMtNS41OSAwLTUuNDU5IDQuMjEyLTUuNDU5IDQuODQxeiIvPgo8L3N2Zz4K');

    }
    &--tw {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyMCI+CiAgICA8cGF0aCBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yNSAyLjM2N2MtLjkyLjQwMi0xLjkwOC42NzMtMi45NDYuNzk2QTUuMDg0IDUuMDg0IDAgMCAwIDI0LjMwOS4zNjlhMTAuMzUgMTAuMzUgMCAwIDEtMy4yNTcgMS4yMjVBNS4xNiA1LjE2IDAgMCAwIDE3LjMwOCAwYy0yLjgzMiAwLTUuMTI5IDIuMjYtNS4xMjkgNS4wNDggMCAuMzk2LjA0Ni43ODEuMTMzIDEuMTUyQTE0LjYzNiAxNC42MzYgMCAwIDEgMS43NDEuOTIzYTQuOTY2IDQuOTY2IDAgMCAwLS42OTUgMi41NGMwIDEuNzUxLjkwNSAzLjI5NiAyLjI4MiA0LjIwMmE1LjE2NyA1LjE2NyAwIDAgMS0yLjMyMy0uNjMybC0uMDAxLjA2NGMwIDIuNDQ2IDEuNzY4IDQuNDg3IDQuMTE0IDQuOTVhNS4xODEgNS4xODEgMCAwIDEtMi4zMTYuMDg3Yy42NTMgMi4wMDYgMi41NDcgMy40NjYgNC43OTEgMy41MDZhMTAuMzkgMTAuMzkgMCAwIDEtNi4zNyAyLjE2MmMtLjQxNCAwLS44MjItLjAyNC0xLjIyMy0uMDcxQTE0LjY4MiAxNC42ODIgMCAwIDAgNy44NjIgMjBjOS40MzQgMCAxNC41OTMtNy42OTQgMTQuNTkzLTE0LjM2NiAwLS4yMTktLjAwNS0uNDM3LS4wMTUtLjY1M0ExMC4zMjQgMTAuMzI0IDAgMCAwIDI1IDIuMzY3eiIvPgo8L3N2Zz4K');

    }
    &--inst {
      margin-right: 0;

      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAh9JREFUeNqslj1IW1EUx28+BumkQlCCVHEK0c2PSV0dbRQ7lOJi02bwI9BFVNDBFodClZZAiIsiNB1KO4izYCdbuhiqk6hIqw2okyCo8X/gf+HwiE/fSw/8uF/nnf+9992vQCwWM8qegGHQAeqMdzsBP8Ay+AJKUhmgyCOwAgbM/zMRGQIXYVasgoRy2AVHPgI3ADs10uEg6JeR9CHzjQ1/wVPwvYIRdIHPIGp/gSi9UA7PfAoEwGvwAewwjrVkmMpiv8GGz973gneqPMp4cdApI6lmw4FLEHHOgAL4xzTDesO6G+aPHfEiYRXo5o5pmAMT/InWIqAFvALzYJrLXn78mjNe+J5pmAGTqnwG9kAzqKGwtF/R91e5IEEXgVb2UOwSpDiCdqYp1otN0d94FRkHIebTIAuuWb5mOc2y+I35Eelhegpyd/jk2K79PYnYs2tfjcBpUn/IfL0fkROmTWranCb1jx1L15PIJtNax6mgLcl27e9JZFFN0wJ4qUYUYvm9mrZFPyLb4A3zVVxNRfCTaZb1Ym95CpS1+zbjLH3sjpcN2OY4Jea5Ec1DRMqNqsSN9gmMgG5uxCL/wUeXEQS1yDkPyUaXzhS4w72YjVcMqvsj7rahPFqPOqG3RGRJNebV/VLJzZjXp4J9SHzlS8WoC+yPD4GoGoHhtZ7QrxXnY6JSk44/l9eKXQEX8qqgyDpXjx8r8vtBvlYkrrkVYABNI2+VbhfIdgAAAABJRU5ErkJggg==');
    }
    &--tg {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyMiI+CiAgICA8cGF0aCBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOS41MjYgNC45NDlsLTkuMjAyIDguNjA4YTEuOTI3IDEuOTI3IDAgMCAwLS41OTEgMS4xNDlsLS4zMTMgMi4zMzhjLS4wNDIuMzEyLS40NzguMzQzLS41NjMuMDQxbC0xLjIwNi00LjI2M2ExLjEzMiAxLjEzMiAwIDAgMSAuNDkxLTEuMjcxbDExLjE1LTYuOTExYy4yLS4xMjQuNDA2LjE0OS4yMzQuMzA5ek0yMy45OTIuMTkzTC41NzggOS4yODNDMCA5LjUwNy4wMDUgMTAuMzMuNTg0IDEwLjU0OGw1LjcwNSAyLjE0NCAyLjIwOSA3LjE0NmEuNjY5LjY2OSAwIDAgMCAxLjA2Ni4zMjNsMy4xOC0yLjYwOGEuOTQ0Ljk0NCAwIDAgMSAxLjE1Ny0uMDMzbDUuNzM2IDQuMTkxYS42Ny42NyAwIDAgMCAxLjA1My0uNDA5TDI0Ljg5Mi45NjJhLjY3NC42NzQgMCAwIDAtLjktLjc2OXoiLz4KPC9zdmc+Cg==');
    }
    &--in {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSI+CiAgICA8cGF0aCBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMy4xNTQgMEgxLjg0N0MuODI3IDAgMCAuODAxIDAgMS43OTF2MjEuNDE3QzAgMjQuMTk3LjgyNyAyNSAxLjg0NyAyNWgyMS4zMDdjMS4wMiAwIDEuODQ2LS44MDMgMS44NDYtMS43OTJWMS43OTFDMjUgLjgwMSAyNC4xNzQgMCAyMy4xNTQgMHpNNy41NzkgMjAuOTI3SDMuODAyVjkuNjM5aDMuNzc3djExLjI4OHpNNS42OTEgOC4wOTdoLS4wMjZjLTEuMjY2IDAtMi4wODctLjg2Ny0yLjA4Ny0xLjk1IDAtMS4xMDcuODQ1LTEuOTQ5IDIuMTM2LTEuOTQ5IDEuMjkzIDAgMi4wODguODQyIDIuMTEyIDEuOTQ5IDAgMS4wODUtLjgxOSAxLjk1LTIuMTM1IDEuOTV6bTE1LjUwNCAxMi44M2gtMy43NzZ2LTYuMDRjMC0xLjUxOC0uNTQ4LTIuNTUzLTEuOTEyLTIuNTUzLTEuMDQ2IDAtMS42NjYuNjk5LTEuOTM4IDEuMzczLS4xMDEuMjQxLS4xMjUuNTc4LS4xMjUuOTE0djYuMzA2SDkuNjY4cy4wNS0xMC4yMyAwLTExLjI4OGgzLjc3NnYxLjYwMWMuNTAyLS43NjkgMS4zOTctMS44NjYgMy40MDMtMS44NjYgMi40ODUgMCA0LjM0OCAxLjYxMiA0LjM0OCA1LjA4djYuNDczem0tNy43NzYtOS42NTJhLjMzMS4zMzEgMCAwIDEgLjAyNS0uMDM1di4wMzVoLS4wMjV6Ii8+Cjwvc3ZnPgo=');

    }
  }
  &-mobile {
    display: none;
    padding: 0 0 0px;
    margin: 0;
    @media screen and (min-width: 767px) {
      display: none !important;
    }
    .social {
      &__icons {
        &.justifier {
          text-align: justify;
          margin: 0 15px;
        }
      }
      &.icon {
        margin-right: 0;
      }
    }
  }
}

