.nav-tabs{
  position: relative;
  overflow: hidden;
  font-size: 0;
  padding-left: 0;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    background-color: #000;
    @media screen and (max-width: 767px) {
      content: none;
    }
  }
  &__item{
    display: inline-block;
    margin-right: 15px;
    @media screen and (max-width: 767px) {
      display: block;
      margin-bottom: 5px;
    }
    &.last{
      margin: 0;
    }
  }
  &__link{
    color: #282828;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include transition(background-color .2s);
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
    &:hover{
      color: #ffffff;
      background-color: #d24a43;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &.active{
      color: #ffffff;
      background-color: #d24a43;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.tab-content{
  &__body{
    display: none;
    max-height: 500px;
    padding: 20px 0;
    overflow-y: auto;
    &.active{
      display: block;
    }
  }
}