.tag{
  &-table{
    &__col{
      display: inline-block;
      vertical-align: top;
      &--first{
        @media screen and (max-width: 767px) {
          display: block;
          margin-bottom: 20px;
        }
      }
      &--middle{
        /*
        max-width: 330px;
        width: 100%;
        */
        margin: 0 30px 0 10px;
        @media screen and (max-width: 799px) {
          margin: 0 30px 0 40px;
        }
        @media screen and (max-width: 767px) {
          margin: 0 15px 0 0;
        }
      }
      &--text{
        @media screen and (max-width: 599px) {
          display: block;
          margin-bottom: 8px;
          &.last{
            margin-bottom: 0;
          }
        }
      }
    }
    &__list{
        padding: 10px;
        max-width: 380px;
    }
    &__header{
      margin-bottom: 30px;
      img{
        width: auto;
        margin-top: 20px;
        @media screen and (max-width: 479px) {
          max-width: 320px;
          width: 100%;
        }
      }
    }
    &__item{
      font-size: 16px;
      color: #888888;
      margin-bottom: 15px;
      list-style: none;
      @media screen and (max-width: 479px) {
        font-size: 14px;
      }
      &.black{
        color: #282828;
      }
      &.last{
        margin-bottom: 0;
      }
    }
    &__link{
      color: #d24a43;
    }
    &__bottom{
      margin-bottom: 30px;
      padding: 15px 0 0;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5;
      p{
        font-size: 12px;
        margin-bottom: 3px;
        &.last{
          margin-bottom: 0;
        }
        &.gray{
          color: #888888;
        }
      }
    }
    &__txt{
      /* display: inline-block; */

      vertical-align: top;
      &--left{
        width: 100%;
        max-width: 130px;
        @media screen and (max-width: 359px) {
          max-width: 110px;
        }
      }
      &--right{
        margin-left: 15px;
        max-width: 150px;
      }
    }
  }
  .justifier{
    text-align: justify;
    @media screen and (max-width: 599px) {
      text-align: center;
    }
  }
}