.top-compilation {
  .h2-title {
    a {
      color: #d24a43 !important;
    }
    &:after {
      background-color: #d24a43 !important;
    }
  }
  .top-compilation-block {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    @media screen and (max-width: 1220px) {
      flex-direction: row;
      justify-content: space-around;
    }
    @media screen and (max-width: 670px) {
      flex-direction: column;
    }
    .top-compilation-item {
      margin: 20px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      font-family:  $Exo2-Bold;
      color: #404040;
      font-size: 14px;
      &:hover {
        #glasses {
          transform: translateY(-10px);
          transition: transform 0.40s ease-in-out;
        }
        #A-coin_1_ {
          transform-origin: bottom right;
          transform: rotate(-4deg);
          transition: transform 0.40s ease-in-out;
        }
        #B-coin_1_ {
          transform-origin: left bottom;
          transform: rotate(4deg);
          transition: transform 0.40s ease-in-out;
        }
        #bitkoin_1_ {
          transform-origin: bottom right;
          transform: rotate(-4deg);
          transition: transform 0.40s ease-in-out;
        }
        #dollar_1_ {
          transform-origin: left bottom;
          transform: rotate(4deg);
          transition: transform 0.40s ease-in-out;
        }
      }
      &:hover {
        p {
          color: #d24a43 !important;
        }
      }
      .svg-icon_man {
        margin-bottom: 15px;
        width: 59px;
        @media screen and (max-width: 1220px) {
          margin-bottom: 15px;
        }
        @media screen and (max-width: 670px) {
          margin-bottom: 15px;
        }
      }
      .svg-icon_purse {
        margin-bottom: 15px;
        width: 85px;
        @media screen and (max-width: 1220px) {
          margin-bottom: 23px;
        }
        @media screen and (max-width: 670px) {
          margin-bottom: 15px;
        }
      }
      .svg-icon_exchange {
        margin-bottom: 15px;
        width: 102px;
        @media screen and (max-width: 1220px) {
          margin-bottom: 26px;
        }
        @media screen and (max-width: 670px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
