.twitter{
  clear: both;
  overflow: hidden;
  margin: 15px 0 15px 0;
  padding: 12px 0 12px 15px;
  border-bottom: 1px solid #282828;
  &-wrapper{
    position: relative;
    padding-left: 50px;
  }
  &-left-icon{
    position: absolute;
    left: 0;
    width: auto;
  }
  a{
    color: #888888;
    &.red{
      color: #d24a43;
    }
  }
  &__title{
    float: left;
    max-width: 380px;
    @media screen and (max-width: 767px) {
      float: none;
    }
  }
  &__name{
    font-size: 20px;
    font-family: $Exo2-Bold;
    margin-bottom: 10px;
    a{
      color: #282828;
      &:hover{
        color: #d24a43;
      }
    }
  }
  &__description{
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__date{
    text-transform: uppercase;
    font-size: 12px;
    color: #888888;
  }
  &-header{
    overflow: hidden;
    margin-left: 0px;
    &__icon{
      float: right;
      padding-right: 15px;
      @media screen and (max-width: 767px) {
        float: none;
        margin: 15px 0;
      }
      &-link{
        display: inline-block;
        position: relative;
        padding-right: 35px;
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 25px;
          height: 20px;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyMCI+CiAgICA8cGF0aCBmaWxsPSIjRDVENUQ1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yNSAyLjM2N2MtLjkyLjQwMS0xLjkwOC42NzMtMi45NDYuNzk1QTUuMDc3IDUuMDc3IDAgMCAwIDI0LjMwOS4zNjhjLS45OTEuNTc5LTIuMDg5IDEtMy4yNTcgMS4yMjVBNS4xNjIgNS4xNjIgMCAwIDAgMTcuMzA4IDBjLTIuODMyIDAtNS4xMjkgMi4yNi01LjEyOSA1LjA0OCAwIC4zOTYuMDQ2Ljc4MS4xMzMgMS4xNTFBMTQuNjM5IDE0LjYzOSAwIDAgMSAxLjc0LjkyM2E0Ljk3NCA0Ljk3NCAwIDAgMC0uNjk0IDIuNTM5YzAgMS43NTEuOTA1IDMuMjk3IDIuMjgyIDQuMjAyYTUuMTc0IDUuMTc0IDAgMCAxLTIuMzI0LS42MzF2LjA2NGMwIDIuNDQ2IDEuNzY4IDQuNDg2IDQuMTE0IDQuOTVhNS4xOCA1LjE4IDAgMCAxLTIuMzE2LjA4N2MuNjUzIDIuMDA2IDIuNTQ3IDMuNDY1IDQuNzkxIDMuNTA2YTEwLjM5IDEwLjM5IDAgMCAxLTYuMzcgMi4xNjJjLS40MTQgMC0uODIyLS4wMjQtMS4yMjMtLjA3MmExNC42ODIgMTQuNjgyIDAgMCAwIDcuODYyIDIuMjY5YzkuNDM0IDAgMTQuNTkzLTcuNjkzIDE0LjU5My0xNC4zNjYgMC0uMjE4LS4wMDUtLjQzNi0uMDE1LS42NTJBMTAuMzQgMTAuMzQgMCAwIDAgMjUgMi4zNjd6Ii8+Cjwvc3ZnPgo=');
        }
      }
    }
  }
  &-body{
    margin: 15px 0;
    @media screen and (max-width: 767px) {
      display: none;
    }
    &__img{
      &-link{
        margin-right: 30px;
        float: left;
        max-width: 225px;
      }
    }
    &__title{
      float: none;
      max-width: 100%;
    }
    &__description{
      font-size: 14px;
    }
  }
  &__btn{
    background-color: transparent;
    padding: 2px 0 2px 28px;
    font-size: 14px;
    color: #888888;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    &--comments{
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMSI+CiAgICA8cGF0aCBmaWxsPSIjODg4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMCAyMWwtNi43MDQtNS42NzNoLTkuMjNDMS44MjQgMTUuMzI3IDAgMTMuNDk2IDAgMTEuMjQ2VjBoMTUuOTM0QzE4LjE3NiAwIDIwIDEuODMgMjAgNC4wOFYyMXpNMi4wMzMgMi4wNHY5LjIwNmMwIDEuMTI2LjkxMiAyLjA0IDIuMDMzIDIuMDRoOS45NzJsMy45MjkgMy4zMjRWNC4wOGMwLTEuMTI1LS45MTItMi4wNC0yLjAzMy0yLjA0SDIuMDMzeiIvPgo8L3N2Zz4K');
    }
    &--retweet{
      margin: 0 15px;
      padding-left: 35px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNyIgaGVpZ2h0PSIyMCI+CiAgICA8cGF0aCBmaWxsPSIjODg4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMi4wNjggMjBsLTQuOTMyLTQuOTUzIDEuMzktMS4zOTUgMi41NTkgMi41NjlWNC4zNTdhMS45NzIgMS45NzIgMCAwIDAtMS45NjYtMS45NzRIMTIuMTJWLjQwOWg2Ljk5OWMyLjE2OSAwIDMuOTMyIDEuNzcxIDMuOTMyIDMuOTQ4djExLjg2NGwyLjU1OS0yLjU2OUwyNyAxNS4wNDcgMjIuMDY4IDIwek01LjkxNSAzLjc3OXYxMS44NjRjMCAxLjA4OS44ODIgMS45NzQgMS45NjYgMS45NzRoNi45OTl2MS45NzRINy44ODFjLTIuMTY5IDAtMy45MzItMS43NzEtMy45MzItMy45NDhWMy43NzlMMS4zOSA2LjM0OCAwIDQuOTUzIDQuOTMyIDBsNC45MzIgNC45NTMtMS4zOSAxLjM5NS0yLjU1OS0yLjU2OXoiLz4KPC9zdmc+Cg==');
    }
    &--likes{
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMCI+CiAgICA8cGF0aCBmaWxsPSIjODg4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4zMjMgMjBsLTguNzI0LTguNjc4YTYuNjE2IDYuNjE2IDAgMCAxIDAtOS4zNzlBNi42NDMgNi42NDMgMCAwIDEgNy4zMTUgMGMxLjQ2NSAwIDIuODU5LjQ2NyA0LjAwOCAxLjMzMUE2LjY0MyA2LjY0MyAwIDAgMSAxNS4zMzIgMGE2LjY0IDYuNjQgMCAwIDEgNC43MTUgMS45NDNBNi41NjcgNi41NjcgMCAwIDEgMjIgNi42MzJhNi41NjcgNi41NjcgMCAwIDEtMS45NTMgNC42OUwxMS4zMjMgMjB6TTcuMzE1IDEuOTg2YTQuNjU5IDQuNjU5IDAgMCAwLTMuMzA0IDEuMzYxIDQuNjM3IDQuNjM3IDAgMCAwIDAgNi41NzFsNy4zMTIgNy4yNzMgNy4zMTItNy4yNzNhNC42MDcgNC42MDcgMCAwIDAgMS4zNjgtMy4yODYgNC42MDQgNC42MDQgMCAwIDAtMS4zNjgtMy4yODUgNC42NTMgNC42NTMgMCAwIDAtMy4zMDMtMS4zNjEgNC42NTUgNC42NTUgMCAwIDAtMy4zMDMgMS4zNjFsLS43MDYuNzAyLS43MDYtLjcwMmE0LjY1MiA0LjY1MiAwIDAgMC0zLjMwMi0xLjM2MXoiLz4KPC9zdmc+Cg==');
    }
  }
}

#twitter_tabs {
  padding-bottom: 20px;
  margin-bottom: 10px;
}
