
.specification {
  margin-top: 40px;

  .specification_text {
    p {
      font-size: 15px;
      margin: 0 0;
      padding: 10px 0;
    }

    h1 {
      text-transform: uppercase;
      font-family: "Exo 2.0";
      font-size: 18px;
      font-weight: $fontSB;
      margin-bottom: 20px;
    }

    h2 {
      margin: 20px 0;
      font-family: "Exo 2.0";
      font-size: 16px;
      font-weight: $fontSB;
    }
  }

  .specification_text_animation {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;

    &.active {
      max-height: 1500px;
    }
  }

  .specification_btn {
    margin: 30px auto 0 auto;

    width: 158px;
    height: 37px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #d24a43;
    border-radius: 50px;

    cursor: pointer;

    p {
      transition: all 0.2s ease-in-out;
      color: #fefdfd;
      text-transform: uppercase;
    }

    &:hover {
      p {
        color: #010101;
      }
    }
  }
}


