.about {

  .news-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    .links-type {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      max-width: 500px;
      width: 100%;
      @media screen and (max-width: 600px) {
        max-width: 600px;
        justify-content: space-between;
      }


      p {
        &.active {
          a {
            color: #D24A43;
          }
        }

        a {
          margin-right: 18px;
          font-size: 11px;
          font-weight: $fontM;
          text-transform: uppercase;
        }
      }
    }

  }

  .news-block_link {
    &:hover {

      .h2-title {
        color: #D24A43 !important;

      }

      img {
        transform: scale(1.1);
      }

      .exclusive-block {
        p {
          color: white !important;
        }
      }

      .theme {
        p {
          color: #7c7c7c !important;
        }
      }


      .bottom-info_exclusive {
        color: white !important;

        p {
          color: white !important;
        }
      }
    }
  }

  .news-block_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;


    @media screen and(max-width: 650px) {
      flex-direction: column;
    }

    .img-wrapper {
      display: none;
      height: min-content;
      max-width: 211px;
      margin-right: 20px;
      width: 100%;
      position: relative;

      .exclusive-block {
        p {
          color: white;
        }
      }

      .position-icons_img {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          margin: 5px;
        }
      }

      @media screen and(max-width: 650px) {
        margin: 15px auto;
      }
      @media screen and(max-width: 475px) {
        max-width: 475px;
        margin: 15px auto;
      }


      img {
        width: 100%;
        height: auto;
      }
    }

    .event-info {
      width: 100%;
      min-width: 280px;

      .h2-title {
        margin-top: 10px;
        font-size: 16px;
        font-weight: $fontSB;
        margin-bottom: 15px;
      }

      .reg-text {
        font-size: 15px;
      }

      .bottom-info {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        p {
          font-size: 11px;
          text-transform: uppercase;
        }


        .data {
          display: flex;
          flex-direction: row;
          align-items: center;

          p {
            color: #d24a43;
          }

          .bottom-info_exclusive {
            padding: 10px;
            margin: 0 10px;
            background-color: #d24a43;
            text-transform: uppercase;
            color: white;
            font-size: 11px;
            font-weight: $fontM;

            p {
              text-transform: uppercase;
              color: white;
              font-size: 11px;
              font-weight: $fontM;
            }
          }
        }

        .theme {
          display: flex;
          flex-direction: row;

          p {
            color: #7c7c7c;
          }
        }
      }
    }
  }

  .video-in {
    display: flex;
    align-items: center;
    margin: 0 5px;
  }

  .gallery-in {
    display: flex;
    align-items: center;
    margin: 0 5px;
  }

  .links-map {
    margin-bottom: 15px;
  }
  .h1-title {
    font-size: 16px;
    font-weight: $fontSB;
    margin-bottom: 15px;
  }

  .about-content-wrapper {


    .img-wrapper {
      margin-bottom: 15px;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .h2-title {
      font-size: 15px;
      font-weight: $fontSB;
      margin-bottom: 30px;
    }

    p {
      font-size: 15px;
    }

    ul {
      margin: 30px 0;

      li {
        padding-left: 20px;
        position: relative;
        font-family: "Exo 2.0", sans-serif;
        font-weight: $fontR;
        list-style: none;
        margin-bottom: 25px;

        &:before {
          content: '';
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: #d24a43;
          position: absolute;
          top: 5px;
          left: 0;
        }
      }

    }
  }

  .people-wrapper {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    @media screen and (max-width: 800px) {
      justify-content: center;

    }

    .people-item {
      margin: 15px 20px;
      max-width: 167px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      @media screen and (max-width: 800px) {
        margin: 15px;
      }


      .img-wrapper {
        border-radius: 50%;
        width: max-content;
        margin: 0 auto;

        img {
          border-radius: 50%;
        }
      }

      .line1 {
        margin: 25px 0 20px 0;

        p {
          text-align: center;
        }

        .name {
          font-size: 15px;
        }

        .position {
          margin-top: 5px;
          text-transform: uppercase;
          color: #7c7c7c;
          font-size: 11px;
        }
      }

      .line2 {
        margin: 20px 0 20px 0;

        .desk {
          text-align: center;
          font-size: 11px;
        }
      }

      .line3 {
        margin: 20px 0 20px 0;

        p {
          font-size: 11px;
          text-align: center;
        }

        .email {
          color: #d24a43;
        }

        .number {
          margin-top: 5px;
        }
      }

      .line4 {
        display: flex;
        flex-direction: row;
        justify-content: center;


        a {
          margin: 0 5px;

          &:hover {
            svg {
              transform: scale(0.9);
            }
          }
        }

      }
    }
  }

  .subscribe-block {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
    margin-top: 30px;
    background-color: #f8f8f8;
    padding: 20px;

    .h3-title {
      font-weight: $fontSB;
      font-size: 15px;
    }

    .form-wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      #subscribe-form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          align-items: center;

        }

        .field-text {
          max-width: 445px;
          width: 100%;
          margin-right: 15px;
          color: black;
          font-size: 11px;
          padding: 0 10px;
          @media screen and (max-width: 600px) {
            max-width: 600px;
            padding: 10px 10px;
            margin-right: 0;
          }

        }

        .submit-btn {
          max-width: 130px;
          width: 100%;
          height: 31px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          background-color: #d24a43;
          border: none;
          border-radius: 30px;

          &:hover {
            p {
              color: black;
            }
          }

          @media screen and (max-width: 600px) {
            margin-top: 20px;
          }

          p {
            color: white;
            text-transform: uppercase;
            font-size: 12px;
          }
        }
      }


    }

    .social-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }


      .left-side {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        max-width: 240px;
        width: 100%;

        .subscribe-text {
          margin-right: 15px;
          color: #000000;
          font-size: 11px;
          font-weight: $fontM;
        }

        .social-wrapper {
          margin-top: 0;
          display: flex;
          flex-direction: row;

          a {
            &:hover {
              transform: scale(0.95);
            }

            transition: all 0.2s ease-in-out;
            margin-right: 10px;
          }
        }
      }

      .right-side {
        display: flex;
        flex-direction: row;
        max-width: 245px;
        width: 100%;
        justify-content: flex-end;
        @media screen and (max-width: 600px) {
          margin-top: 30px;
        }

        p {
          a {
            display: flex;
            align-items: center;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: $fontM;

            &:hover {
              svg {
                path {
                  fill: #d24a43
                }
              }
            }

            svg {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
