.articles-block {
  margin-top: 40px;

  .h1-title {
    font-size: 18px;
    font-weight: $fontSB;
    margin-bottom: 30px;
  }

  .articles-block_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }

    a {
      &:first-child {
        margin-right: 15px;
        @media screen and (max-width: 425px) {
          margin-right: 0;
          margin-bottom: 30px;
        }

      }


      &:hover {
        p {
          color: #d24a43;
        }
      }
    }


    .articles-block_item {
      width: 100%;


      .img-wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .desk {
        font-size: 16px;
        font-weight: $fontSB;
      }
    }
  }
}
