.articles-block {
  margin-top: 40px;

  .h1-title {
    font-size: 18px;
    font-weight: $fontSB;
    margin-bottom: 30px;
  }

  .articles-block_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {


      &:hover {
        p {
          color: #d24a43;
        }
      }
    }

    .articles-block_item {
      max-width: 315px;
      width: 100%;


      .img-wrapper {
        position: relative;
        max-width: 315px;
        width: 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .desk {
        font-size: 16px;
        font-weight: $fontSB;
      }
    }
  }
}
