.crypto-expert {
  margin-top: 40px;

  .h1-title {
    font-weight: $fontSB;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .crypto-expert_item {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 425px) {
      flex-direction: column;
    }

  }

  .left-side {
    max-width: 211px;
    min-width: 211px;
    width: 100%;
    margin-right: 15px;

    @media screen and (max-width: 425px) {
      max-width: 425px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .right-side {
    .h2-title {
      font-weight: $fontSB;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .reg-text {
      font-size: 15px;
      padding-right: 10px;
      line-height: 1.2em;

    }

    .link-text {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;

      a {
        font-size: 11px;
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          display: block;
          margin-left: 5px;
          margin-top: 1px;
          width: 10px;
          height: 10px;

        }
      }
    }
  }

}
