.currency {
  margin-top: 20px;
  max-width: 970px;
  width: 100%;
  background: #f8f8f8;
  height: 27px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    margin-top: 80px;

  }

  .slider-currency {

    animation: scroll-left 20s linear infinite;
    animation-play-state: running;

    transition: opacity .2s ease;
    opacity: 1;

    &:hover {
      animation-play-state: paused;

    }

    @media screen and (max-width: 768px) {
      animation: scroll-left 10s linear infinite;

    }

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    .slider-currency_item {

      margin-right: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;


      img {
        margin-right: 10px;
      }

      .value {
        margin-right: 10px;
      }

      p {
        font-size: 13px;
      }

      .value-up {
        color: #00a048;
      }

      .value-down {
        color: #d24a43;
      }
    }
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(0%); /* Browser bug fix */
    -webkit-transform: translateX(0%); /* Browser bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}
