.event-page {
  .links-map {
    margin-bottom: 15px;
  }

  a {
    &:hover {
      p{
        color: #d24a43 !important;

      }
      .bottom-info {
        .data {
          p {
            color: white !important;
          }
        }
      }

      .static {
        color: #7c7c7c !important;
      }

      .country {
        color: #d24a43 !important;

      }
    }
  }

  .headline-wrapper {
    .h1-title {
      margin-top: 10px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }

  .event-block_item {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;

    .row-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @media screen and(max-width: 650px) {
        flex-direction: column;
      }
    }


    .img-wrapper {
      display: none;
      height: min-content;
      min-width: 200px;
      max-width: 275px;
      margin-right: 20px;
      width: 100%;
      @media screen and(max-width: 650px) {
        margin: 15px auto;
      }
      @media screen and(max-width: 425px) {
        max-width: 425px;
        margin: 15px auto;
      }


      img {
        width: 100%;
        height: auto;
      }
    }

    .event-info {
      width: 100%;
      min-width: 280px;

      .h2-title {
        font-size: 16px;
        font-weight: $fontSB;
        margin-bottom: 15px;
      }

      .reg-text {
        font-size: 15px;
      }

    }

    .bottom-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-self: flex-end;
      @media screen and(max-width: 450px) {
        flex-flow: row wrap;
        justify-content: center;
      }

      p {
        font-size: 11px;
        text-transform: uppercase;

      }

      .data {
        margin: 10px 10px 10px 0;
        background-color: #d24a43;
        padding: 10px;


        p {
          color: #ffffff;
        }
      }

      .place {
        display: flex;
        flex-direction: row;

        .static {
          color: #7c7c7c;
          margin-right: 30px;
        }

        .country {
          color: #d24a43;
        }
      }
    }

  }
}
