.footer-wrapper {
  width: 100%;
  min-height: 326px;
  background: black;


  .footer-content {
    padding: 50px 30px;
    box-sizing: border-box;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1060px) {
      flex-flow: row wrap;
    }
    @media screen and (max-width: 540px) {
      padding: 30px 10px;
    }


    .left-side {
      display: flex;
      justify-content: space-between;
      width: 75%;
      @media screen and (max-width: 1060px) {
        width: 100%;
      }
      @media screen and (max-width: 800px) {
        flex-flow: row wrap;
        width: 100%;
      }


      .col-1 {
        margin-right: 50px;
        @media screen and (max-width: 800px) {
          margin-right: 10px;
          width: 48%;
        }

        p {
          margin-bottom: 25px;
          text-transform: uppercase;

          a {
            font-size: 15px;
            color: white;
          }
        }
      }

      .col-2,
      .col-3,
      .col-4,
      .col-5 {
        margin-right: 10px;
        @media screen and (max-width: 800px) {
          width: 48%;
        }

        p {
          margin-bottom: 15px;

          a {
            font-size: 15px;
            color: white;
          }
        }

        .separator {
          margin-bottom: 50px;
        }
      }

    }

    .right-side {
      max-width: 280px;
      width: 25%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1060px) {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
      }

      .icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        a {
          margin-right: 20px;
        }

      }

      .copy, .policy {
        p {

          margin-top: 20px;
          color: white;
          font-size: 11px;
        }
      }

    }
  }
}
