.last-news {


  @media screen and (max-width: 1023px) {
    display: none;
  }

  &.interview-announcement {
    margin-top: 30px;

    @media screen and (max-width: 1023px) {
      max-width: 300px;
      display: block;
    }
  }

  &.last-news-tablet {
    margin-top: 40px;
    display: none;
    @media screen and (max-width: 1023px) {
      display: block;
      .last-news_item-img {
        max-width: 1023px;
      }
      .h1-title {
        margin-bottom: 30px;
      }
    }
  }

  .h1-title {
    font-weight: $fontSB;
    font-size: 18px;
    margin-bottom: 15px;
  }


  .last-news_item {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;


    &:hover {
      .red-block {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .red-block {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px 10px;
      background-color: rgba(210, 74, 67, 0.8);
      transition: all 0.2s ease-in-out;

      p {
        color: white;
      }
    }

    .reg-text {
      font-size: 15px;
    }
  }

  .nav-block {
    p {
      display: flex;
      justify-content: flex-end;

      a {
        text-align: right;
        font-size: 11px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          display: block;
          margin-left: 5px;
          margin-top: 1px;
          width: 10px;
          height: 10px;

        }
      }
    }
  }
}
