.left-column {
  width: 30%;
  max-width: 230px;
  min-width: 230px;

  padding: 0 15px 0 15px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 800px) {
    max-width: 270px;
    min-width: 270px;

  }

  .col-1-mob {
    display: none;
    margin-top: 60px;

    p {
      a {
        font-weight: $fontSB;
      }

      font-weight: $fontSB;
      margin-bottom: 13px;
    }

    @media screen and (max-width: 800px) {
      display: block;

    }
  }


  @media screen and (max-width: 800px) {
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-270px);
  }

  &.active {
    height: 100%;
    transform: translateX(0px);
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;

  }

  .logo {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    left: 0;
    background: #f8f8f8;
    z-index: 5;
    @media screen and (max-width: 800px) {
      align-items: center;
    }


    svg {
      width: 100%;
      height: auto;
    }

    .close-btn {
      display: none;
      width: 20px;
      height: 20px;
      margin-left: 30px;

      @media screen and (max-width: 800px) {
        display: flex;
        align-items: center;
      }
    }
  }

  .left-column_menu {
    p {
      &.active {
        a {
          color: #D24A43 !important;
        }
      }
    }

    .column-menu_icon {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .column-menu_first,
    .column-menu_second,
    .column-menu_third {
      border-top: 1px solid #383838;
      margin: 22px 0 22px 0;
      padding: 22px 0 0 0;

      p {
        font-size: 15px;
        margin-bottom: 13px;
      }
    }

    .column-menu_first {
      border: none;
      padding-top: 39px;
      @media screen and (max-width: 800px) {
        border-top: 1px solid #383838;
        padding-top: 22px;

      }
    }

    .column-menu_four {
      margin: 18px 0 36px 0;

      .article_counter {
        p {
          text-align: center;
          text-transform: uppercase;
          font-size: 15px;

          .growth {
            color: #00a048;
            padding-left: 15px;
            position: relative;

            &:before {
              content: "";
              background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAjElEQVQY08XMIW4CURSG0TPDJA0CXzP7eWETvGDoBlDVI0kwQBAkTzbpBt5GCJ4KBHsADJBhqMDxmV/ck0u7FHpSGOpUtkCBDX6lMP0fscQRP6il8H07FFLoY4Et1lhhdN0/NCUa7MQ8wwCVmE9inqDGuMJczPv758e+8Fm1wHMxn3EovdCbUYGPLroA34weiLsvK84AAAAASUVORK5CYII=') no-repeat center;
              width: 9px;
              height: 12px;
              position: absolute;
              left: 3px;
              top: 4px;
            }
          }
        }
      }
    }

    .column-menu_five {
      margin-bottom: 30px;

      .favorites {
        text-transform: uppercase;
        font-weight: $fontSB;
      }

      p {
        font-size: 15px;
        margin-bottom: 15px;
      }
    }

    .column-menu_banners {
      margin-top: 40px;

      .banner-item {
        margin-bottom: 35px;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

  }
}
