.content {
  margin-top: 40px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  max-width: 977px;
  width: 100%;
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    display: block;
  }


  .left-content {
    width: 100%;
    margin-right: 20px;
    max-width: 650px;
    min-width: 300px;


    @media screen and (max-width: 1023px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 800px) {
      max-width: 800px;
    }
    @media screen and (max-width: 800px) {
      max-width: 800px;
    }

    .them {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 425px) {
        display: none;
      }

      a {
        text-align: center;
      }

      .drop-list {
        text-align: center;

        &:hover {
          p {
            color: #d24a43;
          }

          svg {
            transform: rotate(180deg);

            path {
              fill: #d24a43 !important;
            }
          }
        }

        &.active {
          p {
            color: #d24a43;
          }

          svg {
            transform: rotate(180deg);

            path {
              fill: #d24a43 !important;
            }
          }

          .drop-item {
            visibility: visible;
            opacity: 1;
          }
        }
      }


      .them-links, .drop-list {
        margin: 0 10px;
        font-weight: $fontM;
        font-size: 14px;
        text-transform: uppercase;

        &.active {
          color: #d24a43;
        }

        &:nth-child(1) {
          margin-left: 0;
        }

        @media screen and (max-width: 425px) {
          margin-bottom: 15px;
        }
      }

      .drop-list {
        position: relative;
        cursor: pointer;
        font-family: 'Exo 2.0', sans-serif;
        font-weight: $fontM;

        svg {
          transition: all 0.3s ease-in-out;
          display: inline-block;
          width: 9px;
          height: 7px;
        }
      }

      .drop-item {
        opacity: 0;
        z-index: 2;
        right: 0;
        top: 35px;
        visibility: hidden;


        position: absolute;
        background: #000000;
        padding: 10px;
        display: flex;

        align-items: flex-start;
        flex-direction: column;
        width: 200px;
        transition: all 0.3s ease-in-out;


        a {
          margin: 0 0 10px 0;
          text-align: left !important;
          color: white;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .them-mobile {
      display: none;
      @media screen and (max-width: 425px) {
        display: block;
        max-height: 20px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &.active {
          max-height: 600px;

          .arrow {
            transform: rotate(180deg);
          }
        }
      }

      .visible-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .open-drop-list {
        font-size: 16px;
        color: #000;
        font-family: "Exo 2.0";
        font-weight: $fontSB;
      }

      .arrow {
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
      }

      .list-item {
        display: flex;
        flex-direction: column;

        a {
          margin-bottom: 15px;
          text-transform: uppercase;

          &.active {
            color: #d24a43;
          }
        }
      }
    }
  }
}
