.popular-materials {
  margin-top: 40px;

  .h1-title {
    font-size: 18px;
    font-weight: $fontSB;
    margin-bottom: 30px;
  }

  .popular-materials_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line {
      display: flex;
      justify-content: space-between;
    }

    .popular-materials_item {
      margin: 5px 0 25px 0;
      max-width: 315px;
      width: 100%;

      .img-wrapper {
        img {
          width: 100%;
          height: auto;
        }
      }

      .reg-text {
        margin-top: 15px;
        font-size: 18px;
        font-weight: $fontSB;
      }
    }
  }

  .arrow-more {
    cursor: pointer;
    margin: 0 auto;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAYAAADtj3ZXAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAkElEQVQoz5WPKw4CQRAFi59AIAhIwq7gcAiuQ0KyGQ3cAclHYjcgOUhhBjJZyDK07E5Vv4ewFLr8McJQWCHUQhA6meBA2AtHhLlwF0IG2Bd2wkmYvJZlFFQZ4EWYNo+FcBOqZoUYdSuc3x+/2GdREJJdL4k6/tWriBU2wih+/IzaIiiFq/AQDtlgIlgI6zbwCRbnTIeYCJrDAAAAAElFTkSuQmCC') no-repeat center;
    width: 15px;
    height: 9px;
  }

}

