.right-content {
  max-width: 300px;
  width: 31.4%;
  @media screen and (max-width: 1024px) {
    margin: 50px auto 0 auto;
    width: 300px;
  }
  @media screen and (max-width: 425px) {
    max-width: 425px;
    width: 100%;
  }
}
