.slider-block {
  margin-top: 40px;

  .slider-top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @media screen and(max-width: 520px) {
      flex-direction: column;
      align-items: center;
    }

    .slider-exchange {
      margin-right: 15px;

      @media screen and(max-width: 520px) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    .slider-exchange, .slider-purse {
      width: 100%;
      max-width: 315px;
      min-width: 1px;
      border: 1px solid rgb(240, 240, 240);
      background-color: #f8f8f8;
      padding: 18px 20px 18px 20px;
      box-sizing: border-box;
      position: relative;

      @media screen and(max-width: 520px) {
        //max-width: 520px;
      }

      .h2-title {
        font-size: 18px;
        font-weight: $fontSB;
      }

      .slider-exchange_in, .slider-purse_in {
        .item {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          outline: none;

          .top-content {
            display: flex;
            flex-direction: column;


            .logo-wrapper {

              img {
                margin: 0 auto;
              }
            }

            .transformation {
              max-width: 356px;
            }

          }

          .name-exchange {
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: $fontSB;
            display: flex;
            align-self: flex-start;
          }

          .desk-exchange {
            font-size: 15px;
            line-height: 1.2em;
          }

          .nav-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;

            margin-top: 30px;

            .link-this, .link-all {
              text-transform: uppercase;
              font-size: 11px;

              a {
                flex-direction: row;
                align-items: center;
                display: flex;
              }

              span {
                display: block;
                margin-left: 5px;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAHCAYAAADXhRcnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAY0lEQVQY053OsQ3CMAAF0YfsIpKbCDEAfTp6lmGIpKDKChkAsVcWSQGYBqclzvX37wfbSZiQMVd4KwFPXOGAC5rf4j/eaDGij+hwxGeDnLHghPOe63fcIFZIEQNeeNQWUykWvuhCDWaRLQTpAAAAAElFTkSuQmCC') no-repeat center;
                width: 15px;
                height: 7px;
              }
            }
          }

          .prev, .prev2 {
            cursor: pointer;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3dmhyAAAAEXRSTlMAEXZ1jxkSc40CixgBd4pyEKtILwEAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAN0lEQVQI1x2LSQ4AIAwCsbaudfn/a8VygEzCAExCtPxNWQ0otVlHkTGdsDaBe9Q8jjpDqDfEiwccJQDyLHBwfAAAAABJRU5ErkJggg==') no-repeat center;
            width: 6px;
            height: 10px;
            position: absolute;
            left: 5px;
            top: 25px;
          }

          .next, .next2 {
            cursor: pointer;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU4H24AAAAG3RSTlMAFAJ/PgUOa5o7BGeWPQ1dnBxcnWiXajwTez/BmaQoAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADxJREFUCNdjYGBkYgACRmYWViDFxs7ByQWiuXl4QXw+fgFBECUkDKTYRESBgmxiHOJAJRKSUiAFDBIg7QA06AHaGWRf+wAAAABJRU5ErkJggg==') no-repeat center;
            width: 6px;
            height: 10px;
            position: absolute;
            right: 5px;
            top: 25px;
          }
        }
      }

    }

  }

  .slider-changer {
    margin-top: 30px;
    border: 1px solid rgb(240, 240, 240);
    background-color: #f8f8f8;
    width: 100%;
    padding: 18px 20px 18px 20px;
    box-sizing: border-box;
    @media screen and (max-width: 520px) {
      margin: 30px auto 0 auto;
      max-width: 315px;

    }

    .h2-title {
      font-size: 18px;
      font-weight: $fontSB;
    }


    .slider-changer_in {
      width: 100%;


      .item {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        outline: none;

        @media screen and (max-width: 520px) {
          margin-top: 30px;
        }

        .item-top {
          padding: 0 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          @media screen and (max-width: 520px) {
            padding: 0;
            flex-direction: column;
          }

          img {
            width: 100%;
            height: auto;
            max-width: 67px;
            margin-right: 50px;
            @media screen and (max-width: 520px) {
              margin: 0;
            }

          }
        }

        .name-exchange {
          font-size: 18px;
          margin-bottom: 15px;
          font-weight: $fontSB;
          display: flex;
          align-self: flex-start;
          @media screen and (max-width: 520px) {
            margin-top: 30px;
          }
        }

        .desk-exchange {
          font-size: 15px;
          line-height: 1.2em;
        }

        .nav-block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          width: 100%;

          margin-top: 30px;

          .link-this, .link-all {
            text-transform: uppercase;
            font-size: 11px;

            a {
              flex-direction: row;
              align-items: center;
              display: flex;
            }

            span {
              display: block;
              margin-left: 5px;
              background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAHCAYAAADXhRcnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAY0lEQVQY053OsQ3CMAAF0YfsIpKbCDEAfTp6lmGIpKDKChkAsVcWSQGYBqclzvX37wfbSZiQMVd4KwFPXOGAC5rf4j/eaDGij+hwxGeDnLHghPOe63fcIFZIEQNeeNQWUykWvuhCDWaRLQTpAAAAAElFTkSuQmCC') no-repeat center;
              width: 15px;
              height: 7px;
            }
          }
        }

        .prev3 {
          cursor: pointer;
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3dmhyAAAAEXRSTlMAEXZ1jxkSc40CixgBd4pyEKtILwEAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAN0lEQVQI1x2LSQ4AIAwCsbaudfn/a8VygEzCAExCtPxNWQ0otVlHkTGdsDaBe9Q8jjpDqDfEiwccJQDyLHBwfAAAAABJRU5ErkJggg==') no-repeat center;
          width: 6px;
          height: 10px;
          position: absolute;
          left: 5px;
          top: 50px;
          @media screen and (max-width: 520px) {
            top: 25px;
          }
        }

        .next3 {
          cursor: pointer;
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU4H24AAAAG3RSTlMAFAJ/PgUOa5o7BGeWPQ1dnBxcnWiXajwTez/BmaQoAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADxJREFUCNdjYGBkYgACRmYWViDFxs7ByQWiuXl4QXw+fgFBECUkDKTYRESBgmxiHOJAJRKSUiAFDBIg7QA06AHaGWRf+wAAAABJRU5ErkJggg==') no-repeat center;
          width: 6px;
          height: 10px;
          position: absolute;
          right: 5px;
          top: 50px;
          @media screen and (max-width: 520px) {
            top: 25px;
          }
        }
      }
    }
  }

}



