.share-block {
  margin-top: 20px;

  .h4-title {
    font-size: 14px;
    font-weight: $fontM;
    margin: 0 0 10px 0;
  }

  .social-block {
    display: flex;
    flex-direction: row;

    a {
      transition: all 0.2s ease-in-out;
      margin-right: 5px;

      svg {
        background-color: white;
        border-radius: 5px;
      }

      &:hover {
        transform: scale(0.95);
      }
    }
  }
}

.links-map {
  margin-bottom: 15px;
}

.scroll-down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin: 20px 0 0 0 !important;
    color: #d24a43;
    font-weight: $fontM;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px !important;
  }

  .icon {
    display: block;
    cursor: pointer;
    margin: 10px auto 0 auto;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAYAAADtj3ZXAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAkElEQVQoz5WPKw4CQRAFi59AIAhIwq7gcAiuQ0KyGQ3cAclHYjcgOUhhBjJZyDK07E5Vv4ewFLr8McJQWCHUQhA6meBA2AtHhLlwF0IG2Bd2wkmYvJZlFFQZ4EWYNo+FcBOqZoUYdSuc3x+/2GdREJJdL4k6/tWriBU2wih+/IzaIiiFq/AQDtlgIlgI6zbwCRbnTIeYCJrDAAAAAElFTkSuQmCC') no-repeat center;
    width: 11px;
    height: 9px;
  }
}

.article {


  &.fz15 {
    .start-article {

      p, label, blockquote {
        font-size: 15px !important;
      }

      .h2-title, h2 {
        font-size: 16px;
      }

      .h1-title, h1 {
        font-size: 18px !important;
      }
    }
  }


  &.fz18 {
    .start-article {
      p, label, blockquote {
        font-size: 17px !important;
      }

      .h2-title, h2 {
        font-size: 18px;
      }

      .h1-title, h1 {
        font-size: 20px !important;
      }
    }
  }


  &.fz21 {
    .start-article {
      p, label, blockquote {
        font-size: 19px !important;
      }

      .h2-title, h2 {
        font-size: 20px;
      }

      .h1-title, h1 {
        font-size: 22px !important;
      }
    }
  }

  .h1-title {
    font-family: "Exo 2.0";
    font-weight: $fontSB;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .h2-title {
    font-family: "Exo 2.0";
    font-weight: $fontSB;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .article-wrapper {
    max-width: 645px;

    .start-article {
      padding-bottom: 15px;
      border-bottom: 1px solid rgb(240, 240, 240);
      max-width: 645px;

      p {
        a {
          color: #D24A43;
        }
      }

      .scroll-down {
        p {
          font-size: 11px !important;
        }
      }
    }
  }

  .headline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }

    .font-switch {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      @media screen and (max-width: 425px) {
        align-self: flex-end;
      }

      p {
        cursor: pointer;
        font-weight: $fontB;
        margin: 0 5px 0 0 !important;

        &.fz1 {
          font-size: 15px !important;
        }

        &.fz2 {
          font-size: 18px !important;
        }

        &.fz3 {
          font-size: 21px !important;
        }

        &.active, &:hover {
          color: #D24A43 !important;
        }
      }
    }
  }

  .start-article {
    margin-bottom: 15px;


    .main-article-img {
      position: relative;
      width: 100%;

      .red-block {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(210, 74, 67, 0.78);
        padding: 10px;

        p {
          margin: 0;
          color: white;
          text-transform: uppercase;
          font-size: 11px !important;
        }

      }

      img {
        width: 100%;
        height: auto;

        &:hover {
          transform: none !important;
        }
      }

      .article-text {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(210, 74, 67, 0.8);
        width: 90%;
        min-height: 73px;

        h1 {
          margin: 0;
          color: white !important;
          font-weight: $fontSB;
          font-size: 18px;
        }
      }
    }


    .gallery {
      opacity: 0;
      margin-top: 20px;
      margin-bottom: 15px;
      transition: all 0.1s ease-in-out;

      img {
        &:hover {
          transform: none !important;
        }
      }

      .gallery-for img {

        @media screen and (max-width: 768px) {
          width: 100% !important;
        }
        height: auto;
      }

      .gallery-for {
        .item {
          position: relative;

          .red-block {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(210, 74, 67, 0.78);
            padding: 10px;

            p {
              margin: 0;
              color: white;
              text-transform: uppercase;
              font-size: 11px;
            }

          }
        }
      }


      &-nav {
        width: 93%;

        .slick-next {
          right: -20px !important;
          width: 10px !important;
          height: 10px !important;
          background-size: contain;
          margin-top: -5px !important;
        }


        .slick-prev {
          display: none !important;
        }

        margin-top: 15px;
      }

    }

    p {
      margin: 10px 0;
      font-size: 15px;
    }


    .note {

      &.with-img {
        .note__title {
          position: absolute !important;

          &:hover {
            background-color: rgba(255, 255, 255, 0.7);


            a {
              color: #D24A43;
            }
          }
        }

      }

      margin: 20px 0 0 15px;
      float: right;
      width: 230px;
      position: relative;

      @media screen and (max-width: 600px) {
        float: none;
        margin: 30px auto;

      }

      .note__name {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: $fontSB;
        margin-bottom: 20px;
      }


      img {
        max-width: 230px;
        width: 100%;
        height: auto;
      }

      .note__title {
        margin: 0;
        position: relative;
        left: 0;
        bottom: 0;
        right: 0;

        box-sizing: border-box;
        width: 100%;
        padding: 10px 10px;
        background-color: rgba(210, 74, 67, 0.8);
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #f8f8f8 !important;


          a {
            color: #D24A43;
          }
        }

        a {
          color: white;
          font-size: 15px;

        }


      }

      &::after {
        content: "";
        clear: both;
        display: table;
      }
    }

    .big-img {
      margin-top: 30px;

      img {
        width: 100%;
        height: auto;
      }

      .small-text {
        margin-top: 10px;
        text-transform: uppercase;
        color: #7c7c7c;
        font-size: 11px;
      }
    }

    .red-block-recall {
      margin-top: 30px;
      padding: 15px 20px;
      background-color: #d24a43;
      width: 100%;
      position: relative;

      &:hover {
        background: #f8f8f8;

        p {
          color: #d24a43 !important;
        }

        .arrow {
          path {
            fill: #d24a43 !important;
          }
        }
      }

      .arrow {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      p {
        margin: 0;
        color: white;
        font-size: 15px;
      }
    }

    .article-more-info {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width: 650px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

      }

      .source {
        display: flex;
        margin-right: auto;
        align-items: center;

        @media screen and (max-width: 650px) {
          margin-bottom: 10px;
        }

        p {
          margin: 0;


        }


        .source-item {
          text-transform: uppercase;
          color: #7c7c7c;
          font-size: 11px !important;
          font-weight: $fontM;
        }

        span {
          display: block;
          margin: 0 5px;
          color: #7c7c7c;
          font-size: 11px !important;
          font-weight: $fontM;
        }

        .static {
          text-transform: uppercase;
          font-size: 11px !important;
          font-weight: $fontM;
          color: #000;
        }

      }

      .score {
        display: flex;
        flex-direction: row;
        align-items: center;

        .static {
          margin: 0 10px 0 0;
          color: #000000;
          font-size: 11px !important;
          font-weight: $fontM;
          text-transform: uppercase;
        }

        .average {
          margin-left: 5px;
        }
      }
    }

    .tags-block {
      margin-top: 20px;
      display: flex;
      flex-flow: row wrap;

      .tags-item {
        padding: 8px;
        margin-right: 20px;
        margin-top: 10px;
        background-color: #f8f8f8;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(240, 240, 240);
        transition: all 0.2s ease-in-out;

        p {
          margin: 0;
          transition: all 0.2s ease-in-out;
          font-weight: $fontM;
          font-size: 11px !important;
        }

        &:hover {
          background-color: #d24a43;

          p {
            color: white !important;
          }

        }
      }
    }

    .img-wrapper {
      img {

        width: 100%;
        height: auto;
      }
    }

    .block3 {

      div {
        margin-top: 5px;
        font-family: "Exo 2.0";
        font-weight: $fontR;
        font-size: 12px;

        * {
          margin-top: 5px;
          font-family: "Exo 2.0";
          font-weight: $fontR;
          font-size: 12px;
        }
      }

      .text-center {
        text-align: center;
      }
    }


  }

  .subscribe-block {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 20px;

    p {
      font-size: 15px !important;
      margin: 0 !important;
    }

    .h3-title {
      font-weight: $fontSB;
      font-size: 15px !important;

    }

    .form-wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      #subscribe-form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          align-items: center;

        }

        .field-text {
          max-width: 445px;
          width: 100%;
          margin-right: 15px;
          color: black;
          font-size: 11px !important;
          padding: 0 10px;
          @media screen and (max-width: 600px) {
            max-width: 600px;
            padding: 10px 10px;
            margin-right: 0;
          }

        }

        .submit-btn {
          max-width: 130px;
          width: 100%;
          height: 31px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          background-color: #d24a43;
          border: none;
          border-radius: 30px;

          &:hover {
            p {
              color: black;
            }
          }

          @media screen and (max-width: 600px) {
            margin-top: 20px;
          }

          p {
            color: white;
            text-transform: uppercase;
            font-size: 12px !important;
          }
        }
      }


    }

    .social-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }


      .left-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 240px;
        width: 100%;

        .subscribe-text {
          margin-right: 15px !important;
          color: #000000;
          font-size: 11px !important;
          font-weight: $fontM;
        }

        .social-wrapper {
          margin-top: 0;
          display: flex;
          flex-direction: row;

          a {
            &:hover {
              transform: scale(0.95);
            }

            transition: all 0.2s ease-in-out;
            margin-right: 10px;
          }
        }
      }

      .right-side {
        display: flex;
        flex-direction: row;
        max-width: 245px;
        width: 100%;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
          margin-top: 30px;
        }

        p {
          display: flex;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: $fontM;

            &:hover {
              svg {
                path {
                  fill: #d24a43
                }
              }
            }

            svg {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }


}

