.table-links {
  margin-top: 40px;

  .h1-title {
    font-size: 18px;
    font-weight: $fontSB;
    margin-bottom: 30px;
  }


  .articles-block_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .line {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 425px) {
        flex-direction: column;

      }
    }


    @media screen and (max-width: 425px) {
      flex-direction: column;
    }

    a {
      &:hover {
        .red-block {
          background: rgba(255, 255, 255, 0.78) !important;
        }
      }

      &:first-child {
        margin-right: 15px;
        @media screen and (max-width: 425px) {
          margin-right: 0;
        }

      }


      &:hover {
        p {
          color: #d24a43;
        }
      }
    }

    a {
      width: 100%;
      max-width: 315px;
      @media screen and (max-width: 800px) {
        max-width: 364px;
      }
      @media screen and (max-width: 425px) {
        max-width: 425px;
      }
    }

    .articles-block_item {
      width: 100%;
      max-width: 315px;
      @media screen and (max-width: 800px) {
        max-width: 364px;
      }
      @media screen and (max-width: 425px) {
        max-width: 425px;
      }


      .img-wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: auto;
        }

        .red-block {
          z-index: 2;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: rgba(210, 74, 67, 0.78);
          padding: 10px;

          p {
            margin: 0;
            color: white;
            font-size: 14px;
          }

        }
      }

      .desk {
        font-size: 16px;
        font-weight: $fontSB;
      }
    }
  }
}
