@import "../basic/reset";
@import "../basic/vars";
@import "../basic/main";
@import "../basic/fonts";
@import "../basic/slick";
@import "../basic/slick-theme";
@import "../blocks/page1";
@import "../blocks/page2";
@import "../blocks/page3";


