<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>doc</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.3.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="js/tmpl.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    
    

</head>
<body>
<div class="main">
<script type="text/teamplate" id="test">
<div class="box1"> 
   <h1> <%= name %></h1>
   <p> <%= u %></p>
   </div>
   <div class="box2">
   <p> <%= a %></p>

   <ul>
   <li><%= list1 %></li>
   <li><%= list2 %></li>
   <li><%= list3 %></li>
   </ul>
   </div>
   <div class="box3">
   <p> <%= myNum %>
   <span><%= num %></span></p>
   <p><%= myProfile %>  
   <a  href="http://vk.com/electrobart" target="_blank"><span><%= link %></span></a></p>
   </div>
  <div class="box4">
   <p><%= feedBack %>
   <span><%= money %></span></p> 
   </div>
   
    </script>
</div>
</body>
</html>


