@media screen and (max-width: 1200px) {
    .text {
        width: 360px;
    }

    .text-form {
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    .logo-link {
        justify-content: space-around;
    }
}

@media screen and (max-width: 755px) {
    .text {
        text-align: center;
        margin-bottom: 10px;
    }

    .first-line {
        flex-flow: wrap;
    }

    .content-img {
        width: 100%;
    }

    .content-text {
        width: 100%;
    }

    .content-text h1 {
        text-align: center;
        padding: 70px 15px 0 15px;
        max-width: 1000px;
    }

    .content-text p {
        padding: 0 15px 130px 15px;
        margin-left: 0;
        max-width: 1000px;
        text-align: center;
    }

    .second-line {
        flex-flow: wrap;
    }

    .content-img2 {
        display: flex;
        order: 1;
        width: 100%;
    }

    .content-text2 {
        order: 2;
        width: 100%;
    }

    .content-text2 h1 {
        text-align: center;
        padding: 130px 0 0 0;
        max-width: 1000px;
    }

    .content-text2 p {
        padding: 0 15px 130px 15px;
        margin-left: 0;
        max-width: 1000px;
        text-align: center;
    }

}

@media screen and (max-width: 410px) {
    .form {
        width: 300px;
    }

    .form form {
        margin: 10px;
    }

    .form div input {
        width: 280px;
    }

    .name div input {
        width: 120px;
    }
}

@media screen and (max-width: 1200px) {
    .text{
        padding: 0 15px;
    }
    .head p {
        padding: 0 15px;
    }

    .copy {
        text-align: center;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer-text {
        padding: 0 15px;
        width: 100%;
    }

    .footer-text p {
        max-width: 1200px;
    }

    .footer-link {
        max-width: 1200px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .social-link {
        align-self: center;
        max-width: 1200px;
        display: flex;
    }

    .policy {
        margin: 10px 0 0 0;
    }

    .policy p {
        text-align: center;
    }


    .third-container p{
        padding: 0 15px;
    }
    .third-container h1{
        padding: 60px 15px;
    }
}