@media (max-width: 320px) {
  header {
    background: url(../img/promo.jpg) no-repeat top center;
    height: 540px; }

  .carousel--step1,
  .carousel--step2,
  .carousel--step3 {
    display: none; }

  .span__log {
    margin: 22px 0 0 50px; }

  .log span {
    text-align: center;
    display: inline-block;
    width: 90px;
    line-height: 32px; }
    .log span a {
      color: #ffffff;
      font: 14px Montserrat; }

  .span {
    border: 2px solid white;
    border-radius: 20px; }

  .topic {
    margin: 0 auto;
    margin-top: 114px;
    text-align: center; }
    .topic h1 {
      margin-top: 26px;
      margin-left: 0px;
      color: #ffffff;
      font: 700 30px Montserrat; }
    .topic h2 {
      margin-left: 0px;
      letter-spacing: 1px;
      color: #ffffff;
      font: 20px Montserrat; }
    .topic h3 {
      margin: 9px 0 0 0px;
      color: #ffffff;
      font: 300 18px Roboto; }
    .topic button {
      padding: 0 50px;
      letter-spacing: 1px;
      border: 1px solid #ff4e50;
      margin: 16px 0 0 0;
      line-height: 37px;
      border-radius: 20px;
      background-color: #ff4e50;
      color: #ffffff;
      font: 700 Montserrat;
      font-size: 14px; }

  .work h4 {
    margin: 34px 0 0 0;
    color: #333333;
    text-align: center;
    font: 700 22px Montserrat; }

  .step1 {
    margin-top: 13px;
    background: url(../img/step1.jpg) no-repeat top center;
    height: 242px; }
    .step1 h2 {
      margin: 70px 0 0 25px;
      color: #ffffff;
      font: 400 10px Montserrat;
      border: 1px solid #ff4e50;
      border-radius: 15px;
      background: #ff4e50;
      text-align: center;
      display: inline-block;
      line-height: 20px;
      width: 70px; }
    .step1 h1 {
      margin: 14px 0 0 24px;
      color: #ffffff;
      font: 700 24px Montserrat; }
    .step1 h3 {
      margin: 12px 0 0 24px;
      width: 259px;
      color: #cccccc;
      font: 300 14px Roboto; }

  .step2 {
    margin: 10px 0 0 0;
    background: url(../img/step2.jpg) no-repeat top center;
    height: 242px; }
    .step2 h2 {
      margin: 98px 0 0 24px;
      color: #ffffff;
      font: 400 10px Montserrat;
      border: 1px solid #ff4e50;
      border-radius: 15px;
      background: #ff4e50;
      text-align: center;
      display: inline-block;
      line-height: 20px;
      width: 70px; }
    .step2 h1 {
      margin: 14px 0 0 23px;
      color: #ffffff;
      font: 700 24px Montserrat; }
    .step2 h3 {
      margin: 11px 0 0 24px;
      width: 259px;
      color: #cccccc;
      font: 300 14px Roboto; }

  .step3 {
    background: url(../img/step3.jpg) no-repeat top center;
    height: 242px;
    margin: 9px 0 0 0; }
    .step3 h2 {
      margin: 66px 0 0 25px;
      color: #ffffff;
      font: 400 10px Montserrat;
      border: 1px solid #ff4e50;
      border-radius: 15px;
      background: #ff4e50;
      text-align: center;
      display: inline-block;
      line-height: 20px;
      width: 70px; }
    .step3 h1 {
      margin: 14px 0 0 24px;
      color: #ffffff;
      font: 700 24px Montserrat; }
    .step3 h3 {
      margin: 12px 0 0 24px;
      width: 259px;
      color: #cccccc;
      font: 300 14px Roboto; }

  .people h1 {
    margin: 30px 4px 0 0;
    text-align: center;
    color: #333333;
    font: 700 22px Montserrat; }
  .people figure {
    background: url(../img/Partner-4.png) no-repeat;
    height: 160px;
    margin: 14px 94px 0 94px; }
  .people figcaption {
    color: #333333;
    font: 700 14px Montserrat;
    margin: 139px 0 0 6px;
    display: inline-block; }
  .people p {
    text-align: center;
    color: #666666;
    font: 300 14px Roboto;
    margin: 8px 50px 0 48px; }
  .people .close {
    color: #ff4e50;
    font: 700 14px Montserrat;
    padding: 0 119px;
    line-height: 37px;
    margin: 27px 0 0 12px;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    border-radius: 20px; }
  .people .button {
    cursor: pointer;
    color: #ff4e50;
    font: 700 14px Montserrat;
    padding: 0 72px;
    line-height: 37px;
    margin: 27px 0 0 12px;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    border-radius: 20px; }

  .people--first figure {
    background: url(../img/Partner-4.png) no-repeat;
    height: 160px;
    margin: 14px 94px 0 94px; }
  .people--first figcaption {
    color: #333333;
    font: 700 14px Montserrat;
    margin: 139px 0 0 6px;
    display: inline-block; }
  .people--first p {
    text-align: center;
    color: #666666;
    font: 300 14px Roboto;
    margin: 8px 50px 0 48px; }

  .people--second figure {
    background: url(../img/MergedLayers.png) no-repeat;
    height: 160px;
    margin: 28px 94px 0 94px; }
  .people--second figcaption {
    color: #333333;
    font: 700 14px Montserrat;
    margin: 138px 11px; }
  .people--second p {
    text-align: center;
    color: #666666;
    font: 300 14px Roboto;
    margin: 8px 46px 0 45px; }

  .people--third figure {
    background: url(../img/MergedLayers1.png) no-repeat;
    height: 160px;
    margin: 28px 94px 0 91px; }
  .people--third figcaption {
    color: #333333;
    font: 700 14px Montserrat;
    margin: 138px 0 0 5px; }
  .people--third p {
    text-align: center;
    color: #666666;
    font: 300 14px Roboto;
    margin: 8px 46px 0 39px; }

  .people--fourth figure {
    background: url(../img/MergedLayers2.png) no-repeat;
    height: 160px;
    margin: 27px 94px 0 91px; }
  .people--fourth figcaption {
    color: #333333;
    font: 700 14px Montserrat;
    margin: 138px 0 0 5px; }
  .people--fourth p {
    text-align: center;
    color: #666666;
    font: 300 14px Roboto;
    margin: 8px 46px 0 39px; }

  .people--five {
    display: none; }
    .people--five figure {
      background: url(../img/MergedLayers5.png) no-repeat;
      height: 160px;
      margin: 27px 94px 0 91px; }
    .people--five figcaption {
      color: #333333;
      font: 700 14px Montserrat;
      margin: 138px 0 0 5px; }
    .people--five p {
      text-align: center;
      color: #666666;
      font: 300 14px Roboto;
      margin: 8px 46px 0 39px; }

  .ideas h1 {
    margin: 32px 0 0 0;
    color: #333333;
    font: 700 22px Montserrat;
    text-align: center; }

  * {
    box-sizing: border-box; }

  body {
    font-family: sans-serif; }

  .grid {
    margin: 0 auto;
    background: #EEE;
    max-width: 1200px; }

  .grid-item {
    margin: 14px 0 0 3px;
    width: 300px;
    height: 121px;
    float: left;
    background: #906c79;
    border: 2px solid #333;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px; }

  .item__2 {
    margin: 9px 0 0 3px; }

  .search h1 {
    margin: 34px 4px 0 0px;
    color: #333333;
    font: 700 22px Montserrat; }
  .search h2 {
    margin: 11px 5px 0 1px;
    color: #333333;
    font: 300 18px Roboto;
    text-align: center; }
  .search input {
    color: #999999;
    font: 300 14px Roboto;
    margin: 17px 0 0 10px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0 110px 0 15px;
    line-height: 35px; }
  .search button {
    margin: 9px 0 0 11px;
    background-color: #ff4e50;
    border-radius: 20px;
    border: 1px solid #ff4e50;
    color: #ffffff;
    font: 700 14px Montserrat;
    line-height: 40px;
    padding: 0 83px;
    cursor: pointer; }

  footer {
    text-align: center;
    margin-top: 39px;
    border-top: 4px solid #ff4e50; }

  .footer--name {
    letter-spacing: 1px;
    margin: 16px 5px 0 1px;
    color: #ff4e50;
    font: 700 16px Montserrat; }

  .footer--comp {
    margin: 11px 4px 0 0;
    color: #333333;
    font: 700 14px Montserrat; }

  .links {
    margin: 0 55px; }

  .footer--link {
    color: #666666;
    font: 300 14px / 24px Roboto; }

  .link__2 {
    margin-left: 9px; }

  .link__3 {
    margin-left: 10px; }

  .link__4 {
    margin-left: 9px; }

  .footer--link:hover {
    color: black; }

  .footer--part {
    margin: 9px 4px 0 2px;
    color: #333333;
    font: 700 14px Montserrat; }

  .footer--des {
    margin: 16px 97px;
    background: url(../img/DesLayers.png) no-repeat;
    height: 42px; } }
@media (min-width: 320px) and (max-width: 768px) {
  * {
    box-sizing: border-box; }

  .header {
    background: url(../img/MergedLayers-taplet.png) no-repeat top center;
    height: 700px; }

  .span__sign {
    margin: 38px 44px 0 0; }

  .log {
    float: right; }
    .log span {
      text-align: center;
      display: inline-block;
      line-height: 32px;
      padding: 0 17px; }
      .log span a {
        color: #ffffff;
        font: 14px Montserrat; }

  .span {
    border: 2px solid white;
    border-radius: 20px; }

  .topic {
    text-align: center; }
    .topic h1 {
      width: 65%;
      float: right;
      margin: 139px 135px 0 135px;
      color: #ffffff;
      font: 700 52px Montserrat; }
    .topic h2 {
      opacity: 1;
      color: #ffffff;
      font: 700 20px Montserrat;
      margin: 46px 0 0 43px;
      float: left;
      letter-spacing: 1px; }
    .topic h3 {
      margin: 23px 180px;
      width: 53%;
      float: right;
      color: #ffffff;
      font: 300 24px Roboto; }
    .topic button {
      float: right;
      width: 29.4%;
      letter-spacing: 1px;
      border: 1px solid #ff4e50;
      margin: 10px 269px 0 0;
      line-height: 37px;
      border-radius: 20px;
      background-color: #ff4e50;
      color: #ffffff;
      font: 700 Montserrat;
      font-size: 14px; }

  .work h4 {
    margin: 94px 0 0 5px;
    color: #333333;
    text-align: center;
    font: 700 22px Montserrat; }

  .step1 {
    float: left;
    border-radius: 4px;
    margin: 34px 0 0 5px;
    background: url(../img/step1-teblet.jpg) no-repeat center;
    height: 100%;
    width: 31%; }
    .step1 h2 {
      margin: 210px 0 0 19px;
      color: #ffffff;
      font: 400 10px Montserrat;
      border: 1px solid #ff4e50;
      border-radius: 15px;
      background: #ff4e50;
      text-align: center;
      display: inline-block;
      line-height: 20px;
      width: 70px; }
    .step1 h1 {
      margin: 15px 0 0 18px;
      color: #ffffff;
      font: 700 24px Montserrat; }
    .step1 h3 {
      margin: 11px 0 18px 18px;
      color: #cccccc;
      font: 300 14px Roboto; }

  .step2 {
    margin: 33px 0 0 21px;
    border-radius: 4px;
    float: left;
    background: url(../img/MergedLayersstep2.png) no-repeat;
    width: 31%; }
    .step2 h2 {
      margin: 260px 0 0 20px;
      color: #ffffff;
      font: 400 10px Montserrat;
      border: 1px solid #ff4e50;
      border-radius: 15px;
      background: #ff4e50;
      text-align: center;
      display: inline-block;
      line-height: 20px;
      width: 70px; }
    .step2 h1 {
      margin: 14px 0 0 18px;
      color: #ffffff;
      font: 700 24px Montserrat; }
    .step2 h3 {
      width: 82%;
      margin: 10px 0 20px 18px;
      color: #cccccc;
      font: 300 14px Roboto; }

  .step3 {
    margin: 34px 0 0 21px;
    border-radius: 4px;
    float: left;
    background: url(../img/MergedLayersstep3.png) no-repeat;
    width: 31%;
    height: 100%; }
    .step3 h2 {
      margin: 211px 0 0 22px;
      color: #ffffff;
      font: 400 10px Montserrat;
      border: 1px solid #ff4e50;
      border-radius: 15px;
      background: #ff4e50;
      text-align: center;
      display: inline-block;
      line-height: 20px;
      width: 70px; }
    .step3 h1 {
      margin: 14px 0 0 20px;
      color: #ffffff;
      font: 700 24px Montserrat; }
    .step3 h3 {
      margin: 11px 0 15px 21px;
      color: #cccccc;
      font: 300 14px Roboto; }

  .people {
    margin: 0 auto; }
    .people h1 {
      margin: 92px 4px 0 0;
      text-align: center;
      color: #333333;
      font: 700 22px Montserrat; }
    .people .close {
      width: 25.1%;
      margin: 12px 283px;
      cursor: pointer;
      color: #ff4e50;
      font: 700 14px Montserrat;
      line-height: 37px;
      background-color: #ffffff;
      border: 2px solid #ff4e50;
      border-radius: 20px; }
    .people .button {
      width: 25.1%;
      margin: 12px 283px;
      cursor: pointer;
      color: #ff4e50;
      font: 700 14px Montserrat;
      line-height: 37px;
      background-color: #ffffff;
      border: 2px solid #ff4e50;
      border-radius: 20px; }

  .people--list {
    margin-bottom: 23px;
    margin-top: 33px;
    width: 30%;
    float: left; }
    .people--list figure {
      text-align: center; }
    .people--list figcaption {
      text-align: center;
      color: #333333;
      font: 700 14px Montserrat; }
    .people--list p {
      margin-top: 14px;
      margin-right: 5px;
      text-align: center;
      color: #666666;
      font: 300 14px Roboto; }

  .people__first {
    margin-left: 139px; }
    .people__first figcaption {
      margin: 9px 3px 0 0; }

  .people__second {
    margin-left: 28px; }
    .people__second figcaption {
      margin: 9px 3px 0 0; }

  .people__third {
    margin-left: 139px; }
    .people__third figcaption {
      margin: 10px 0 0 0; }
    .people__third p {
      width: 96%; }

  .people__fourth {
    padding-bottom: 33px;
    margin-left: 28px; }
    .people__fourth figcaption {
      margin: 10px 0 0 0; }

  .people--five {
    text-align: center;
    float: left;
    width: 100%;
    display: none; }
    .people--five figcaption {
      color: #333333;
      font: 700 14px Montserrat; }
    .people--five p {
      text-align: center;
      color: #666666;
      font: 300 14px Roboto; }

  .ideas h1 {
    margin-top: 83px;
    color: #333333;
    font: 700 22px Montserrat;
    text-align: center; }

  * {
    box-sizing: border-box; }

  /* force scrollbar */
  html {
    overflow-y: scroll; }

  .grid {
    margin: 33px 0 0 6px;
    background: #ffffff; }

  .grid-sizer {
    width: 33.333%; }

  .grid-item {
    border-radius: 4px;
    width: 33.333%; }

  .grid-item {
    float: left; }

  .grid-item img {
    display: block;
    width: 100%; }

  .item__1 {
    width: 31.5%; }

  .item__2 {
    margin: 0 0 0 5px;
    width: 31.5%; }

  .item__3 {
    margin: 0 0 0 11px;
    width: 31.5%; }

  .item__4 {
    margin: 24px 0 0 0;
    width: 31.5%; }

  .item__5 {
    margin: 24px 0 0 6px;
    width: 65.5%; }

  .item__6 {
    margin: 21px 0 0 6px;
    width: 65.5%; }

  .item__7 {
    margin: 21px 0 0 0px;
    width: 31.5%; }

  .search h1 {
    margin: 86px 4px 0 0px;
    color: #333333;
    font: 700 22px Montserrat; }
  .search h2 {
    margin: 30px 5px 0 1px;
    color: #333333;
    font: 300 18px Roboto;
    text-align: center; }
  .search input {
    width: 31.3%;
    padding: 0 0 0 12px;
    margin: 40px 0 0 173px;
    color: #999999;
    font: 300 14px Roboto;
    background-color: #ffffff;
    border-radius: 4px;
    line-height: 35px; }
  .search button {
    width: 21.3%;
    margin-left: 8px;
    background-color: #ff4e50;
    border-radius: 20px;
    border: 1px solid #ff4e50;
    color: #ffffff;
    font: 700 14px Montserrat;
    line-height: 38px;
    cursor: pointer; }

  footer {
    text-align: center;
    margin-top: 98px;
    border-top: 4px solid #ff4e50; }

  .footer--name {
    display: block;
    float: left;
    letter-spacing: 1px;
    margin: 36px 5px 0 32px;
    color: #ff4e50;
    font: 700 16px Montserrat; }

  .footer--comp {
    display: block;
    float: left;
    margin: 37px 4px 0 76px;
    color: #333333;
    font: 700 14px Montserrat; }

  .links {
    float: left;
    text-align: left;
    display: inline-block;
    margin: 65px 0 0 -70px; }

  .footer--link {
    color: #666666;
    font: 300 14px / 24px Roboto; }

  .footer--link:hover {
    color: black; }

  .footer--part {
    margin: 38px 0 0 100px;
    float: left;
    color: #333333;
    font: 700 14px Montserrat; }

  .footer--des {
    margin: 40px 35px 0 0;
    float: right;
    background: url(../img/MergedLayers12.png);
    height: 42px;
    width: 110px; } }
@media (min-width: 768px) {
  * {
    box-sizing: border-box; }

  header {
    background: url(../img/MergedLayersdesktop.png) no-repeat;
    height: 700px;
    background-position: top center;
    text-align: center;
    margin-top: 0;
    overflow: hidden; }

  .log {
    margin-top: 37px;
    margin-right: 166px;
    float: right; }
    .log span {
      text-align: center;
      display: inline-block;
      line-height: 32px;
      padding: 0 17px; }
      .log span a {
        color: #ffffff;
        font: 14px Montserrat; }

  .span {
    border: 2px solid white;
    border-radius: 20px; }

  .test1 {
    float: left; }
    .test1 h2 {
      margin: 45px 0 0 164px;
      font: 700 20px Montserrat;
      color: #ffffff;
      float: left;
      letter-spacing: 1px; }

  .test {
    width: 40%;
    text-align: center;
    margin: 0 auto; }
    .test h1 {
      margin-top: 212px;
      color: #ffffff;
      font: 700 52px Montserrat; }
    .test h3 {
      margin-top: 24px;
      color: #ffffff;
      font: 300 24px Roboto; }
    .test button {
      margin-top: 33px;
      letter-spacing: 1px;
      border: 1px solid #ff4e50;
      line-height: 37px;
      width: 45%;
      border-radius: 20px;
      background-color: #ff4e50;
      color: #ffffff;
      font: 700 Montserrat;
      font-size: 14px; }

  .work {
    width: 80%;
    margin: 0 auto; }
    .work h4 {
      margin: 93px 0 0 0;
      color: #333333;
      text-align: center;
      font: 700 22px Montserrat; }

  .step1,
  .step2,
  .step3 {
    display: none; }

  .carousel--step1,
  .carousel--step2,
  .carousel--step3 {
    float: left; }

  .carousel--step1 {
    margin: 17px 0 0 37px; }

  .carousel--step2 {
    margin: 17px 0 0 20px; }

  .carousel--step3 {
    margin: 17px 0 0 20px; }

  .people {
    width: 80%;
    margin: 0 auto; }
    .people h1 {
      margin: 76px 4px 0 0;
      text-align: center;
      color: #333333;
      font: 700 22px Montserrat; }
    .people .close {
      width: 19%;
      margin: 35px 410px;
      cursor: pointer;
      color: #ff4e50;
      font: 700 14px Montserrat;
      line-height: 37px;
      background-color: #ffffff;
      border: 2px solid #ff4e50;
      border-radius: 20px; }
    .people .button {
      width: 19%;
      margin: 35px 410px;
      cursor: pointer;
      color: #ff4e50;
      font: 700 14px Montserrat;
      line-height: 37px;
      background-color: #ffffff;
      border: 2px solid #ff4e50;
      border-radius: 20px; }

  .people--list {
    width: 21.5%;
    margin-top: 33px;
    float: left; }
    .people--list figure {
      text-align: center; }
    .people--list figcaption {
      margin: 9px 0 0 0;
      text-align: center;
      color: #333333;
      font: 700 14px Montserrat; }
    .people--list p {
      margin: 15px 0 0 0;
      text-align: center;
      color: #666666;
      font: 300 14px Roboto; }

  .people__first {
    margin-left: 40px; }

  .people__second {
    margin-left: 22px; }
    .people__second figcaption {
      margin: 10px 5px 0 0; }
    .people__second p {
      margin: 14px 4px 0 0; }

  .people__third {
    margin-left: 22px; }
    .people__third figcaption {
      margin: 10px 5px 0 0; }
    .people__third p {
      margin: 14px 4px 0 0; }

  .people__fourth {
    margin-left: 22px; }
    .people__fourth figcaption {
      margin: 10px 5px 0 0; }
    .people__fourth P {
      margin: 14px 4px 0 0; }

  .people--five {
    text-align: center;
    float: left;
    width: 100%;
    display: none; }
    .people--five figcaption {
      color: #333333;
      font: 700 14px Montserrat; }
    .people--five p {
      text-align: center;
      color: #666666;
      font: 300 14px Roboto; }

  .ideas {
    width: 80%;
    margin: 0 auto; }
    .ideas h1 {
      margin-top: 60px;
      color: #333333;
      font: 700 22px Montserrat;
      text-align: center; }

  * {
    box-sizing: border-box; }

  /* force scrollbar */
  html {
    overflow-y: scroll; }

  .grid {
    max-width: 1200px;
    margin-left: 36px;
    margin-top: 34px; }

  * {
    box-sizing: border-box; }

  body {
    font-family: sans-serif; }

  .grid-sizer,
  .grid-item {
    width: 22%; }

  .grid-item img {
    height: 310px;
    width: 100%; }

  .gutter-sizer {
    width: 4%; }

  .grid-item {
    height: 310px;
    float: left;
    border-radius: 5px; }

  .item__1,
  .item__2,
  .item__3,
  .item__4,
  .item__7 {
    width: 31%; }

  .item__5,
  .item__6 {
    width: 63.5%; }

  .item__2,
  .item__3 {
    margin: 0 0 0 16px; }

  .item__4 {
    margin: 20px 0 0 0; }

  .item__5 {
    margin: 20px 0 0 17px; }

  .item__6 {
    margin: 20px 0 0 0; }

  .item__7 {
    margin: 20px 0 0 18px; }

  .search {
    text-align: center;
    margin: 0 auto;
    width: 60%; }
    .search h1 {
      margin: 95px 4px 0 0px;
      color: #333333;
      font: 700 22px Montserrat; }
    .search h2 {
      margin: 30px 5px 0 1px;
      color: #333333;
      font: 300 18px Roboto;
      text-align: center; }
    .search input {
      width: 240px;
      padding: 0 0 0 15px;
      margin: 40px 0 0 -6px;
      color: #999999;
      font: 300 14px Roboto;
      background-color: #ffffff;
      border-radius: 4px;
      line-height: 35px; }
    .search button {
      margin-left: 3px;
      width: 160px;
      background-color: #ff4e50;
      border-radius: 20px;
      border: 1px solid #ff4e50;
      color: #ffffff;
      font: 700 14px Montserrat;
      line-height: 38px;
      cursor: pointer; }

  footer {
    text-align: center;
    margin-top: 100px;
    border-top: 4px solid #ff4e50; }

  .footer {
    margin: 0 auto;
    width: 80%; }

  .footer--name {
    display: block;
    float: left;
    letter-spacing: 1px;
    margin: 35px 5px 0 35px;
    color: #ff4e50;
    font: 700 16px Montserrat; }

  .footer--comp {
    display: block;
    float: left;
    margin: 36px 4px 0 92px;
    color: #333333;
    font: 700 14px Montserrat; }

  .links {
    float: left;
    text-align: left;
    display: inline-block;
    margin: 63px 0 0 -73px; }

  .footer--link {
    color: #666666;
    font: 300 14px / 24px Roboto; }

  .footer--link:hover {
    color: black; }

  .footer--part {
    margin: 36px 0 0 89px;
    float: left;
    color: #333333;
    font: 700 14px Montserrat; }

  .footer--des {
    margin: 39px 37px 0 0;
    float: right;
    background: url(../img/MergedLayers12.png);
    height: 42px;
    width: 110px; } }

/*# sourceMappingURL=media-queries.css.map */
