@import "reset.css";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1440px)";
.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
}

.head_wrapper {
    margin: 0 auto
}

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
}

header {
    background: url(../img/Vector-Smart-Object.png) no-repeat top center;
    height: 540px;
    margin-top: 0;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    @media#{$tablet} {
        height: 700px;
    }
    @media#{$desktop} {
        height: 700px;
    }
}

.carousel--step1,
.carousel--step2,
.carousel--step3 {
    @media#{$tablet} {
        display: block;
    }
    display: none;
}

.log {
    @media#{$tablet} {
        margin-top: 37px;
        margin-right: 45px;
        float: right;
    }
    @media#{$desktop} {
        margin-top: 37px;
        margin-right: 240px;
    }
    margin: 20px 15px 0 0;
    span {
        text-align: center;
        display: inline-block;
        line-height: 32px;
        padding: 0 17px;
        a {
            color: #ffffff;
            font: 14px Montserrat;
        }
    }
}

.span {
    border: 2px solid white;
    border-radius: 20px;
}

.test1 {
    @media#{$tablet} {
        margin: 0 0;
        float: left;
    }
    @media#{$desktop} {
        margin-left: 200px;
    }
    margin: 115px 0 0 0;
    h2 {
        @media#{$tablet} {
            margin: 45px 0 0 40px;
            float: left;
        }
        color: #ffffff;
        font: 700 20px Montserrat;
        letter-spacing: 1px;
    }
}

.test {
    @media#{$tablet} {
        margin: 0 auto;
        margin-top: 213px;
        width: 500px;
    }
    @media#{$desktop} {
        margin: 0 auto;
        margin-top: 213px;
    }
    margin-top: 25px;
    text-align: center;
    h1 {
        @media#{$tablet} {
            font: 700 52px Montserrat;
        }
        color: #ffffff;
        font: 700 30px Montserrat;
    }
    h3 {
        margin: 10px 50px;
        color: #ffffff;
        font: 300 18px Roboto;
        @media#{$tablet} {
            margin-top: 24px;
            font: 300 24px Roboto;
        }
    }
    button {
        cursor: pointer;
        @media#{$tablet} {
            margin-top: 24px;
            width: 225px;
        }
        width: 87%;
        margin: 4px 0 0 0;
        letter-spacing: 1px;
        border: 1px solid #ff4e50;
        line-height: 37px;
        border-radius: 20px;
        background-color: #ff4e50;
        color: #ffffff;
        font: 700 Montserrat;
        font-size: 14px;
    }
}

.work {
    max-width: 300px;
    margin: 0 auto;
    @media#{$tablet} {
        max-width: 768px;
        margin: 0 auto;
    }
    @media#{$desktop} {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 25px;
    }
    h4 {
        @media#{$tablet} {
            margin: 94px 0 0 0px;
        }
        margin: 34px 0 0 0;
        color: #333333;
        text-align: center;
        font: 700 22px Montserrat;
    }
}

.jcarousel-wrapper {
    @media#{$tablet} {
        width: 236px;
        margin: 0 auto;
        position: relative;
    }
    @media#{$desktop} {
        height: 397px;
        width: 300px;
        width: 19px auto;
    }
}

.jcarousel {
    @media#{$tablet} {
        position: relative;
        overflow: hidden;
    }
}

.jcarousel ul {
    @media#{$tablet} {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.jcarousel img {
    @media#{$tablet} {
        height: 397px;
        width: 236px;
    }
    @media#{$desktop} {
        height: 397px;
        width: 300px;
    }
}

.jcarousel li {
    @media#{$tablet} {
        float: left;
    }
    @media#{$desktop} {
        width: 397px;
        float: left;
        display: list-item;
    }
}

.jcarousel-control-prev,
.jcarousel-control-next {
    @media#{$tablet} {
        position: absolute;
        top: 150px;
        width: 30px;
        height: 55px;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
}

.jcarousel-control-prev {
    @media#{$tablet} {
        top: 39px;
        left: 21px;
    }
    @media#{$desktop} {
        top: 150px;
        left: 21px;
    }
}

.jcarousel-control-next {
    @media#{$tablet} {
        top: 39px;
        right: 21px;
    }
    @media#{$desktop} {
        top: 150px;
        right: 21px;
    }
}

.carousel--step1,
.carousel--step2,
.carousel--step3 {
    @media#{$tablet} {
        float: left;
    }
}

.carousel--step1 {
    @media#{$tablet} {
        margin: 36px 0 0 3px;
    }
}

.carousel--step2 {
    @media#{$tablet} {
        margin: 36px 0 0 20px;
    }
}

.carousel--step3 {
    @media#{$tablet} {
        margin: 36px 0 0 20px;
    }
}

.step1,
.step2,
.step3 {
    @media#{$tablet} {
        display: none;
    }
}

// mobile version
.step1 {
    margin-top: 13px;
    background: url(../img/step1.jpg) no-repeat top center;
    height: 242px;
    h2 {
        margin: 70px 0 0 25px;
        color: #ffffff;
        font: 400 10px Montserrat;
        border: 1px solid #ff4e50;
        border-radius: 15px;
        background: #ff4e50;
        text-align: center;
        display: inline-block;
        line-height: 20px;
        width: 70px;
    }
    h1 {
        position: relative;
        margin: 14px 0 0 24px;
        color: #ffffff;
        font: 700 24px Montserrat;
    }
    h3 {
        margin: 12px 0 0 24px;
        color: #cccccc;
        font: 300 14px Roboto;
    }
}

.step2 {
    margin: 10px 0 0 0;
    background: url(../img/step2.jpg) no-repeat top center;
    height: 242px;
    h2 {
        margin: 98px 0 0 24px;
        color: #ffffff;
        font: 400 10px Montserrat;
        border: 1px solid #ff4e50;
        border-radius: 15px;
        background: #ff4e50;
        text-align: center;
        display: inline-block;
        line-height: 20px;
        width: 70px;
    }
    h1 {
        margin: 14px 0 0 23px;
        color: #ffffff;
        font: 700 24px Montserrat;
    }
    h3 {
        margin: 11px 0 0 24px;
        color: #cccccc;
        font: 300 14px Roboto;
    }
}

.step3 {
    background: url(../img/step3.jpg) no-repeat top center;
    height: 242px;
    margin: 9px 0 0 0;
    h2 {
        margin: 66px 0 0 25px;
        color: #ffffff;
        font: 400 10px Montserrat;
        border: 1px solid #ff4e50;
        border-radius: 15px;
        background: #ff4e50;
        text-align: center;
        display: inline-block;
        line-height: 20px;
        width: 70px;
    }
    h1 {
        margin: 14px 0 0 24px;
        color: #ffffff;
        font: 700 24px Montserrat;
    }
    h3 {
        margin: 12px 0 0 24px;
        color: #cccccc;
        font: 300 14px Roboto;
    }
}

.people {
    margin-top: 30px;

     @media#{$tablet} {
            width: 750px;
            margin: 0 auto;
        }
    @media#{$desktop} {
        width: 948px;
        margin: 0 auto;
    }
    h1 {
        @media#{$tablet} {
            margin-top: 96px;
            margin-right: 0;
}
        margin-top: 19px;
        margin-right: 10px;
        text-align: center;
        color: #333333;
        font: 700 22px Montserrat;
    }
}

.people--list {
    @media#{$tablet} {
        width: 29%;
        float: left;
    }
    @media#{$desktop} {
        width: 23%;
    }
    figure {
        text-align: center;
    }
    figcaption {
        padding: 0 5px 0 0;
        margin-top: 10px;
        text-align: center;
        color: #333333;
        font: 700 14px Montserrat;
    }
    p {
        @media#{$tablet} {
            margin: 0 0 0 0;
        }
        @media#{$desktop} {
            margin: 0;
        }
        text-align: center;
        color: #666666;
        font: 300 14px Roboto;
    }
}

.people__first {
    @media#{$tablet} {
        margin: 31px 0 0 140px;
    }
    @media#{$desktop} {
        margin: 32px 0 0 4px;
    }
    margin-top: 13px;
    p {
        @media#{$tablet} {
            margin: 12px 0 0 0;
        }
        @media#{$desktop} {
            margin: 12px 0 0 0;
        }
        margin: 13px 50px;
    }
}

.people__second--mobile {
    @media#{$tablet} {
        display: none;
    }
    @media#{$desktop} {
        display: none;
    }
    margin-top: 24px;
    figcaption {
        margin: 10px 40px 0 35px;
    }
    p {
        margin: 14px 50px;
        @media#{$tablet} {
            margin: 0 0 0 0;
        }
    }
}

.people__second {
    @media#{$tablet} {
        display: block;
        margin: 31px 0 0 39px;
    }
    @media#{$desktop} {
        margin: 32px 0 0 24px;
    }
    display: none;
    p {
        @media#{$tablet} {
            margin: 12px 0 0 0;
        }
    }
}

.people__third {
    @media#{$tablet} {
        margin: 56px 0 0 140px;
    }
    @media#{$desktop} {
        margin: 32px 0 0 24px;
    }
    margin-top: 25px;
    p {
        margin: 14px 55px;
        @media#{$tablet} {
            margin: 14px 0 0 0px;
        }
        @media#{$desktop} {
            margin: 12px 0 0 0;
        }
    }
}

.people__fourth {
    @media#{$tablet} {
        margin: 56px 0 0 37px;
    }
    @media#{$desktop} {
        margin: 32px 0 0 23px;
    }
    margin-top: 24px;
    figcaption {
        margin: 10px 0px;
    }
    P {
        @media#{$tablet} {
            margin: 0 0 0 0;
        }
        margin: 13px 45px;
    }
}

.people--five {
    margin-bottom: 37px;
    text-align: center;
    float: left;
    width: 100%;
    display: none;
    figure {}
    figcaption {
        color: #333333;
        font: 700 14px Montserrat;
    }
    p {
        text-align: center;
        color: #666666;
        font: 300 14px Roboto;
    }
}

.button--wraper {
    width: 88%;
    margin: 25px auto;
    @media#{$tablet} {
        width: 25%;
        margin-top: 34px;
    }
    @media#{$desktop} {
        width: 13.5%;
        margin-top: 36px;
    }
}

.button {
    width: 100%;
    cursor: pointer;
    color: #ff4e50;
    font: 700 14px Montserrat;
    line-height: 35px;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    border-radius: 20px;
}

.ideas {
    @media#{$tablet} {
        margin-top: 96px;
    }
    h1 {
        margin-bottom: 6px;
        margin-top: 31px;
        color: #333333;
        font: 700 22px Montserrat;
        text-align: center;
    }
}

#gallery {
    display: block;
    @media#{$tablet} {
        padding: 0 3px;
    }
    @media#{$desktop} {
        padding: 0;
        width: 66.5%;
        margin: 0 auto;
    }
}

.sizer4 {
    width: 100%;
    @media#{$tablet} {
        width: 33%;
    }
    @media#{$desktop} {
        width: 33%;
    }
}

//.sizer5 {
//    width: 100%;
//    @media#{$tablet} {
//        width: 66%;
//    }
//    @media#{$desktop} {
//        width: 66%;
//    }
//}

.item-masonry {
    margin-top: 15px;
    float: left;
    position: relative;
}

.item-masonry img {
    height: auto;
    width: 100%;
    display: block;
    @media#{$tablet} {
        width: 100%;
        height: 300px;
    }
}

.idea-content{
    width: 100%;
    position: absolute;
    top: 80px;

    @media#{$tablet} {
    top: 140px;
}
    @media#{$desktop} {
    top: 140px;
}
    p{
        text-align: center;
        color: #ffffff;
        font: 700 22px Montserrat;
}
}


.search {
    margin-top: 34px;
    @media#{$tablet} {
        margin-top: 94px;
    }
    @media#{$desktop} {
        margin-top: 96px;
    }
    h1 {
        @media#{$tablet} {
            margin: 34px 0 0 0;
        }
        text-align: center;
        color: #333333;
        font: 700 22px Montserrat;
    }
    h2 {
        margin-top: 10px;
        @media#{$tablet} {
            margin-top: 31px;
        }
        color: #333333;
        font: 300 18px Roboto;
        text-align: center;
    }
}

.button--search {
    margin: 0 auto;
    @media#{$tablet} {
        width: 55%;
        margin: 39px auto;
    }
    @media#{$desktop} {
        margin: 37px auto;
        width: 29%;
    }
    input {
        @media#{$tablet} {
            margin: 0 7px 0 0;
            width: 58%;
        }
        @media#{$desktop} {
            width: 58%;
        }
        width: 88%;
        color: #999999;
        font: 300 14px Roboto;
        margin: 15px 0px 0 16px;
        background-color: #ffffff;
        border-radius: 4px;
        line-height: 35px;
        padding-left: 13px;
    }
    button {
        @media#{$tablet} {
            width: 34%;
            margin: 0;
        }
        @media#{$desktop} {
            width: 38%;
            margin: 0;
            line-height: 37px;
        }
        width: 88%;
        margin: 9px 0 0 16px;
        background-color: #ff4e50;
        border-radius: 20px;
        border: 1px solid #ff4e50;
        color: #ffffff;
        font: 700 14px Montserrat;
        line-height: 37px;
        cursor: pointer;
    }
}

footer {
    @media#{$tablet} {
        overflow: hidden;
        margin-top: 99px;
    }
    @media#{$desktop} {
        padding: 0 300px;
        margin-top: 100px;
    }
    text-align: center;
    margin-top: 39px;
    border-top: 4px solid #ff4e50;
    margin-bottom: 20px;
}

.footer--name {
    @media#{$tablet} {
        display: block;
        float: left;
        letter-spacing: 1px;
        margin: 35px 5px 0 32px;
    }
    letter-spacing: 1px;
    margin-top: 16px;
    color: #ff4e50;
    font: 700 16px Montserrat;
}

.footer--comp {
    @media#{$tablet} {
        display: block;
        float: left;
        margin: 36px 4px 0 76px;
    }
    @media#{$desktop} {
        margin: 36px 4px 0 90px;
    }
    margin-top: 11px;
    color: #333333;
    font: 700 14px Montserrat;
}

.links {
    @media#{$tablet} {
        float: left;
        text-align: left;
        display: inline-block;
        margin: 65px 0 0 -71px;
    }
    margin: 0 auto;
    width: 194px;
}

.footer--link {
    @media#{$tablet} {
        float: none;
    }
    float: left;
    color: #666666;
    font: 300 14px / 24px Roboto;
}

.link__2 {
    @media#{$tablet} {
        margin-left: 0px;
    }
    margin-left: 10px;
}

.link__3 {
    @media#{$tablet} {
        margin-left: 0px;
    }
    margin-left: 15px;
}

.link__4 {
    @media#{$tablet} {
        margin-left: 0px;
    }
    margin-left: 15px;
}

.footer--link:hover {
    color: black;
}

.footer--part {
    @media#{$tablet} {
        margin: 36px 0 0 -23px;
        float: left;
    }
    @media#{$desktop} {
        margin: 36px 0 0 -35px;
    }
    margin-top: 10px;
    margin-bottom: 12px;
    color: #333333;
    font: 700 14px Montserrat;
}

.footer--des {
    p {
        padding-bottom: 7px;
        text-align: center;
        letter-spacing: 1px;
        color: #cccccc;
        font: 700 10px Montserrat;
        @media#{$tablet} {
            padding-bottom: 6px;
            text-align: right;
        }
        @media#{$desktop} {
            padding-bottom: 8px;
            text-align: right;
        }
    }
    @media#{$tablet} {
        width: 110px;
        margin: 39px 30px 0 0;
        float: right;
    }
    @media#{$desktop} {
        margin: 37px 36px 0 0;
    }
    width: 100%;
}
