        @media screen and (max-width: 320px) {
            header {
                background: url(../img/promo.jpg) no-repeat top center;
                height: 540px;
                margin-top: 0;
                text-align: center;
                overflow: hidden;
            }
            .carousel--step1,
            .carousel--step2,
            .carousel--step3,
            {
                display: none;
            }
            .log {
                margin: 20px 15px 0 0;
                span {
                    text-align: center;
                    display: inline-block;
                    line-height: 32px;
                    padding: 0 17px;
                    a {
                        color: #ffffff;
                        font: 14px Montserrat;
                    }
                }
            }
            .span {
                border: 2px solid white;
                border-radius: 20px;
            }
            .test1 {
                margin: 115px 0 0 0;
                h2 {
                    color: #ffffff;
                    font: 700 20px Montserrat;
                    letter-spacing: 1px;
                }
            }
            .test {
                margin-top: 25px;
                text-align: center;
                h1 {
                    color: #ffffff;
                    font: 700 30px Montserrat;
                }
                h3 {
                    margin: 10px 40px;
                    color: #ffffff;
                    font: 300 18px Roboto;
                }
                button {
                    margin: 4px 0 0 0;
                    letter-spacing: 1px;
                    border: 1px solid #ff4e50;
                    line-height: 37px;
                    border-radius: 20px;
                    background-color: #ff4e50;
                    color: #ffffff;
                    font: 700 Montserrat;
                }
            }
            .work {
                h4 {
                    margin: 34px 0 0 0;
                    color: #333333;
                    text-align: center;
                    font: 700 22px Montserrat;
                }
            }
            .step1 {
                margin-top: 13px;
                background: url(../img/step1.jpg) no-repeat top center;
                height: 242px;
                h2 {
                    margin: 70px 0 0 25px;
                    color: #ffffff;
                    font: 400 10px Montserrat;
                    border: 1px solid #ff4e50;
                    border-radius: 15px;
                    background: #ff4e50;
                    text-align: center;
                    display: inline-block;
                    line-height: 20px;
                    width: 70px;
                }
                h1 {
                    margin: 14px 0 0 24px;
                    color: #ffffff;
                    font: 700 24px Montserrat;
                }
                h3 {
                    margin: 12px 0 0 24px;
                    color: #cccccc;
                    font: 300 14px Roboto;
                }
            }
            .step2 {
                margin: 10px 0 0 0;
                background: url(../img/step2.jpg) no-repeat top center;
                height: 242px;
                h2 {
                    margin: 98px 0 0 24px;
                    color: #ffffff;
                    font: 400 10px Montserrat;
                    border: 1px solid #ff4e50;
                    border-radius: 15px;
                    background: #ff4e50;
                    text-align: center;
                    display: inline-block;
                    line-height: 20px;
                    width: 70px;
                }
                h1 {
                    margin: 14px 0 0 23px;
                    color: #ffffff;
                    font: 700 24px Montserrat;
                }
                h3 {
                    margin: 11px 0 0 24px;
                    color: #cccccc;
                    font: 300 14px Roboto;
                }
            }
            .step3 {
                background: url(../img/step3.jpg) no-repeat top center;
                height: 242px;
                margin: 9px 0 0 0;
                h2 {
                    margin: 66px 0 0 25px;
                    color: #ffffff;
                    font: 400 10px Montserrat;
                    border: 1px solid #ff4e50;
                    border-radius: 15px;
                    background: #ff4e50;
                    text-align: center;
                    display: inline-block;
                    line-height: 20px;
                    width: 70px;
                }
                h1 {
                    margin: 14px 0 0 24px;
                    color: #ffffff;
                    font: 700 24px Montserrat;
                }
                h3 {
                    margin: 12px 0 0 24px;
                    color: #cccccc;
                    font: 300 14px Roboto;
                }
            }
            .people {
                width: 90%;
                margin: 0 auto;
                h1 {
                    margin-top: 30px;
                    margin-right: 10px;
                    text-align: center;
                    color: #333333;
                    font: 700 22px Montserrat;
                }
            }
            .people--list {
                figure {
                    text-align: center;
                }
                figcaption {
                    margin-top: 10px;
                    text-align: center;
                    color: #333333;
                    font: 700 14px Montserrat;
                }
                p {
                    text-align: center;
                    color: #666666;
                    font: 300 14px Roboto;
                }
            }
            .people__first {
                margin-top: 14px;
                p {
                    margin: 13px 40px;
                }
            }
            .people__second--mobile {
                margin-top: 26px;
                figcaption {
                    margin: 10px 40px 0 35px;
                }
                p {
                    margin: 14px 29px;
                }
            }
            .people__second {
                display: none;
            }
            .people__third {
                margin-top: 28px;
                figcaption {}
                p {
                    margin: 14px 30px;
                }
            }
            .people__fourth {
                margin-top: 26px;
                figcaption {
                    margin: 10px 0px;
                }
                P {
                    margin: 15px 38px;
                }
            }
            .people--five {
                margin-bottom: 37px;
                text-align: center;
                float: left;
                width: 100%;
                display: none;
                figure {}
                figcaption {
                    color: #333333;
                    font: 700 14px Montserrat;
                }
                p {
                    text-align: center;
                    color: #666666;
                    font: 300 14px Roboto;
                }
            }
            .button--wraper {
                width: 90%;
                margin: 0 auto;
            }
            .close {
                width: 100%;
                cursor: pointer;
                color: #ff4e50;
                font: 700 14px Montserrat;
                line-height: 37px;
                background-color: #ffffff;
                border: 2px solid #ff4e50;
                border-radius: 20px;
            }
            .button {
                width: 100%;
                margin: 9px 0 0 0;
                cursor: pointer;
                color: #ff4e50;
                font: 700 14px Montserrat;
                line-height: 37px;
                background-color: #ffffff;
                border: 2px solid #ff4e50;
                border-radius: 20px;
            }
            .ideas {
                h1 {
                    color: #333333;
                    font: 700 22px Montserrat;
                    text-align: center;
                }
            }
            .ideas {
                margin: 0 auto;
                h1 {
                    margin-top: 31px;
                    color: #333333;
                    font: 700 22px Montserrat;
                    text-align: center;
                }
            }
            * {
                box-sizing: border-box;
            }
            /* force scrollbar */
            html {
                overflow-y: scroll;
            }
            body {
                font-family: sans-serif;
            }
            /* ---- grid ---- */
            .grid {
                background: #DDD;
            }
            /* clear fix */
            .grid:after {
                content: '';
                display: block;
                clear: both;
            }
            /* ---- .grid-item ---- */
            .grid-sizer,
            .grid-item {
                width: 33.333%;
            }
            .grid-item {
                float: left;
            }
            .grid-item img {
                display: block;
                max-width: 100%;
            }
            //            .grid {
            ////                margin-left: 40px;
            ////                margin-top: 40px;
            //            }
            //
            //
            //            .grid-sizer,
            //            .grid-item {
            //                height: 100%;
            //                width: 100%;
            //            }
            //            .grid-item img {
            //                height: 100%;
            //                width: 100%;
            //            }
            //            .gutter-sizer {
            //                width: 4%;
            //            }
            //            .grid-item {
            //                float: left;
            //                border-radius: 5px;
            //            }
            //            .item__1,
            //            .item__2,
            //            .item__3,
            //            .item__4,
            //            .item__7 {
            //                width: 100%;
            //            }
            //            .item__5,
            //            .item__6 {
            ////                width: 62%;
            //            }
            //            .item__1 {}
            //
            //            .item__2,
            //            .item__3 {
            ////                margin: 0 0 0 27px;
            //            }
            //
            //            .item__4 {
            ////                margin: 25px 0 0 0;
            //            }
            //            ;
            //            .item__5 {
            ////                margin: 25px 0 0 35px;
            //            }
            //            ;
            //            .item__6 {
            ////                margin: 25px 0 0 0;
            //            }
            //
            //            .item__7 {
            ////                margin: 28px 0 0 37px;
            //            }
            //
            .search {
                h1 {
                    text-align: center;
                    margin: 34px 4px 0 0px;
                    color: #333333;
                    font: 700 22px Montserrat;
                }
                h2 {
                    //                    margin: 11px 5px 0 1px;
                    color: #333333;
                    font: 300 18px Roboto;
                    text-align: center;
                }
                input {
                    width: 85%;
                    color: #999999;
                    font: 300 14px Roboto;
                    margin: 15px 0 0 10px;
                    background-color: #ffffff;
                    border-radius: 4px;
                    line-height: 35px;
                    padding-left: 13px;
                }
                button {
                    width: 90%;
                    margin: 6px 15px 0 15px;
                    background-color: #ff4e50;
                    border-radius: 20px;
                    border: 1px solid #ff4e50;
                    color: #ffffff;
                    font: 700 14px Montserrat;
                    line-height: 40px;
                    cursor: pointer;
                }
            }
            footer {
                text-align: center;
                margin-top: 39px;
                border-top: 4px solid #ff4e50;
            }
            .footer--name {
                letter-spacing: 1px;
                margin-top: 16px;
                color: #ff4e50;
                font: 700 16px Montserrat;
            }
            .footer--comp {
                margin-top: 11px;
                color: #333333;
                font: 700 14px Montserrat;
            }
            .links {
                margin: 0 auto;
                width: 194px;
            }
            .footer--link {
                float: left;
                color: #666666;
                font: 300 14px / 24px Roboto;
            }
            .link__2 {
                margin-left: 10px;
            }
            .link__3 {
                margin-left: 15px;
            }
            .link__4 {
                margin-left: 15px;
            }
            .footer--link:hover {
                color: black;
            }
            .footer--part {
                margin-top: 10px;
                margin-bottom: 12px;
                color: #333333;
                font: 700 14px Montserrat;
            }
            .footer--des {
                width: 100%;
            }
        }
        @media screen and (min-width: 320px) and (max-width: 768px) {
            * {
                box-sizing: border-box;
            }
            .people__second--mobile {
                display: none;
            }
            header {
                background: url(../img/MergedLayersdesktop.png) no-repeat;
                height: 700px;
                background-position: top center;
                text-align: center;
                margin-top: 0;
                overflow: hidden;
            }
            .log {
                margin-top: 37px;
                margin-right: 45px;
                float: right;
                span {
                    text-align: center;
                    display: inline-block;
                    line-height: 32px;
                    padding: 0 17px;
                    a {
                        color: #ffffff;
                        font: 14px Montserrat;
                    }
                }
            }
            .span {
                border: 2px solid white;
                border-radius: 20px;
            }
            .test1 {
                float: left;
                h2 {
                    margin: 45px 0 0 40px;
                    font: 700 20px Montserrat;
                    color: #ffffff;
                    float: left;
                    letter-spacing: 1px;
                }
            }
            .test {
                width: 500px;
                text-align: center;
                margin: 0 auto;
                h1 {
                    margin-top: 212px;
                    color: #ffffff;
                    font: 700 52px Montserrat;
                }
                h3 {
                    margin-top: 24px;
                    color: #ffffff;
                    font: 300 24px Roboto;
                }
                button {
                    margin-top: 33px;
                    letter-spacing: 1px;
                    border: 1px solid #ff4e50;
                    line-height: 37px;
                    width: 225px;
                    border-radius: 20px;
                    background-color: #ff4e50;
                    color: #ffffff;
                    font: 700 Montserrat;
                    font-size: 14px;
                }
            }
            .work {
                margin: 0 auto;
                h4 {
                    margin: 93px 0 0 5px;
                    color: #333333;
                    text-align: center;
                    font: 700 22px Montserrat;
                }
            }
            .jcarousel-wrapper {
                width: 236px;
                height: 397px;
                margin: 0 auto;
                position: relative;
            }
            .jcarousel {
                position: relative;
                overflow: hidden;
            }
            //           .jcarousel img {
            //    display: block;
            //    max-width: 100%;
            //    height: auto !important;
            //}
            .jcarousel ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .jcarousel li {
                display: list-item;
                float: left;
            }
            .jcarousel-control-prev,
            .jcarousel-control-next {
                position: absolute;
                top: 150px;
                width: 30px;
                height: 55px;
                text-align: center;
                color: #fff;
                text-decoration: none;
            }
            .jcarousel-control-prev {
                top: 39px;
                left: 21px;
            }
            .jcarousel-control-next {
                top: 39px;
                right: 21px;
            }
            .step1,
            .step2,
            .step3 {
                display: none;
            }
            .carousel--step1,
            .carousel--step2,
            .carousel--step3 {
                float: left;
            }
            .carousel--step1 {
                margin: 36px 0 0 3px;
            }
            .carousel--step2 {
                margin: 36px 0 0 20px;
            }
            .carousel--step3 {
                margin: 36px 0 0 20px;
            }
            .close {
                margin: 0 auto;
                display: block;
                width: 192px;
                cursor: pointer;
                color: #ff4e50;
                font: 700 14px Montserrat;
                line-height: 37px;
                background-color: #ffffff;
                border: 2px solid #ff4e50;
                border-radius: 20px;
            }
            .button {
                margin: 0 auto;
                display: block;
                width: 192px;
                cursor: pointer;
                color: #ff4e50;
                font: 700 14px Montserrat;
                line-height: 37px;
                background-color: #ffffff;
                border: 2px solid #ff4e50;
                border-radius: 20px;
            }
            .people {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 36px;
                h1 {
                    margin: 98px 5px 0 0;
                    text-align: center;
                    color: #333333;
                    font: 700 22px Montserrat;
                }
            }
            .people--list {
                margin-top: 32px;
                height: 233px;
                width: 217px;
                float: left;
                figure {
                    text-align: center;
                }
                figcaption {
                    text-align: center;
                    color: #333333;
                    font: 700 14px Montserrat;
                }
                p {
                    margin-top: 14px;
                    text-align: center;
                    color: #666666;
                    font: 300 14px Roboto;
                }
            }
            .people__first {
                margin-left: 68px;
                figcaption {
                    margin: 9px 3px 0 0;
                }
            }
            .people__second {
                margin-left: 38px;
                figcaption {
                    margin: 9px 3px 0 0;
                }
            }
            .people__third {
                margin-top: 25px;
                margin-left: 68px;
                figcaption {
                    margin: 10px 0 0 0;
                }
                p {}
            }
            .people__fourth {
                margin-top: 26px;
                padding-bottom: 33px;
                margin-left: 39px;
                figcaption {
                    margin: 10px 0 0 0;
                }
            }
            .people--five {
                text-align: center;
                float: left;
                width: 100%;
                display: none;
                figure {}
                figcaption {
                    color: #333333;
                    font: 700 14px Montserrat;
                }
                p {
                    text-align: center;
                    color: #666666;
                    font: 300 14px Roboto;
                }
            }
            .ideas {
                h1 {
                    margin-top: 95px;
                    color: #333333;
                    font: 700 22px Montserrat;
                    text-align: center;
                }
            }
//
                   * {
                box-sizing: border-box;
            }
            /* force scrollbar */
            html {
                overflow-y: scroll;
            }
            body {
                font-family: sans-serif;
            }
            /* ---- grid ---- */
            .grid {
                background: #DDD;
            }
            /* clear fix */

            /* ---- .grid-item ---- */

            .grid-sizer,
            .grid-item {
                width: 30%;
            }
            .grid-item {
                float: left;
            }
            .grid-item img {
                display: block;
                max-width: 100%;
            }
            .item__5,
            .item__6{
                width: 54%;
            }
            .item__1,
            .item__2,
            .item__3,
            .item__4,
            .item__7{
                width: 26.2%;
            }


            .search {
                width: 80%;
                margin: 0 auto;
                h1 {
                    text-align: center;
                    margin: 92px 4px 0 0px;
                    color: #333333;
                    font: 700 22px Montserrat;
                }
                h2 {
                    margin: 30px 5px 0 1px;
                    color: #333333;
                    font: 300 18px Roboto;
                    text-align: center;
                }
                input {
                    width: 240px;
                    padding: 0 0 0 12px;
                    margin: 40px 0 0 98px;
                    color: #999999;
                    font: 300 14px Roboto;
                    background-color: #ffffff;
                    border-radius: 4px;
                    line-height: 35px;
                }
                button {
                    width: 160px;
                    margin-left: 3px;
                    background-color: #ff4e50;
                    border-radius: 20px;
                    border: 1px solid #ff4e50;
                    color: #ffffff;
                    font: 700 14px Montserrat;
                    line-height: 38px;
                    cursor: pointer;
                }
            }
            footer {
                text-align: center;
                margin-top: 98px;
                border-top: 4px solid #ff4e50;
            }
            .footer--name {
                display: block;
                float: left;
                letter-spacing: 1px;
                margin: 36px 5px 0 32px;
                color: #ff4e50;
                font: 700 16px Montserrat;
            }
            .footer--comp {
                display: block;
                float: left;
                margin: 37px 4px 0 76px;
                color: #333333;
                font: 700 14px Montserrat;
            }
            .links {
                float: left;
                text-align: left;
                display: inline-block;
                margin: 65px 0 0 -70px;
            }
            .footer--link {
                color: #666666;
                font: 300 14px / 24px Roboto;
            }
            .link__2 {}
            .link__3 {}
            .link__4 {}
            .footer--link:hover {
                color: black;
            }
            .footer--part {
                margin: 38px 0 0 100px;
                float: left;
                color: #333333;
                font: 700 14px Montserrat;
            }
            .footer--des {
                margin: 40px 35px 0 0;
                float: right;
            }
        }
        @media screen and (min-width: 768px) {
            .people__second--mobile {
                display: none;
            }
            * {
                box-sizing: border-box;
            }
            .head_wrapper{
                margin: 0 auto;
                width: 1440px;
            }
            header {
                background: url(../img/Vector-Smart-Object.png) no-repeat;
                height: 700px;
                background-position: top center;
                text-align: center;
                overflow: hidden;
            }
            .log {
                margin-top: 37px;
                margin-right: 250px;
                float: right;
                span {
                    text-align: center;
                    display: inline-block;
                    line-height: 32px;
                    padding: 0 17px;
                    a {
                        color: #ffffff;
                        font: 14px Montserrat;
                    }
                }
            }
            .span {
                border: 2px solid white;
                border-radius: 20px;
            }
            .test1 {
                float: left;
                h2 {
                    margin: 45px 0 0 250px;
                    font: 700 20px Montserrat;
                    color: #ffffff;
                    float: left;
                    letter-spacing: 1px;
                }
            }
            .test {
                width: 500px;
                text-align: center;
                margin: 0 auto;
                h1 {
                    margin-top: 212px;
                    color: #ffffff;
                    font: 700 52px Montserrat;
                }
                h3 {
                    margin-top: 24px;
                    color: #ffffff;
                    font: 300 24px Roboto;
                }
                button {
                    cursor: pointer;
                    margin-top: 33px;
                    letter-spacing: 1px;
                    border: 1px solid #ff4e50;
                    line-height: 37px;
                    width: 225px;
                    border-radius: 20px;
                    background-color: #ff4e50;
                    color: #ffffff;
                    font: 700 Montserrat;
                    font-size: 14px;
                }
            }
            .work {
                width: 70%;
                margin: 0 auto;
                h4 {
                    margin: 93px 0 0 0;
                    text-align: center;
                    font: 700 22px Montserrat;
                }
            }
            .jcarousel-wrapper {
                width: 300px;
                height: 397px;
                margin: 19px auto;
                position: relative;
            }
            .jcarousel {
                position: relative;
                overflow: hidden;
            }
            .jcarousel ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .jcarousel li {
                display: list-item;
                float: left;
            }
            .jcarousel-control-prev,
            .jcarousel-control-next {
                position: absolute;
                top: 150px;
                width: 30px;
                height: 55px;
                text-align: center;
                color: #fff;
                text-decoration: none;
            }
            .jcarousel-control-prev {
                left: 21px;
            }
            .jcarousel-control-next {
                right: 21px;
            }
            .step1,
            .step2,
            .step3 {
                display: none;
            }
            .carousel--step1,
            .carousel--step2,
            .carousel--step3 {
                float: left;
            }
            .carousel--step1 {
                margin: 17px 0 0 37px;
            }
            .carousel--step2 {
                margin: 17px 0 0 20px;
            }
            .carousel--step3 {
                margin: 17px 0 0 20px;
            }
            .people {
                width: 70%;
                margin: 0 auto;
                h1 {
                    margin: 76px 4px 0 0;
                    text-align: center;
                    color: #333333;
                    font: 700 22px Montserrat;
                }
            }
            .people--list {
                height: 233px;
                width: 217px;
                margin-top: 33px;
                margin-bottom: 37px;
                float: left;
                figure {
                    text-align: center;
                }
                figcaption {
                    margin: 9px 0 0 0;
                    text-align: center;
                    color: #333333;
                    font: 700 14px Montserrat;
                }
                p {
                    margin: 15px 0 0 0;
                    text-align: center;
                    color: #666666;
                    font: 300 14px Roboto;
                }
            }
            .people__first {
                margin-left: 40px;
            }
            .people__second {
                margin-left: 22px;
                figcaption {
                    margin: 10px 5px 0 0;
                }
                p {
                    margin: 14px 4px 0 0;
                }
            }
            .people__third {
                margin-left: 22px;
                figcaption {
                    margin: 10px 5px 0 0;
                }
                p {
                    margin: 14px 0 0 0;
                }
            }
            .people__fourth {
                margin-left: 22px;
                figcaption {
                    margin: 10px 5px 0 0;
                }
                P {
                    margin: 14px 4px 0 0;
                }
            }
            .people--five {
                margin-bottom: 37px;
                text-align: center;
                float: left;
                width: 100%;
                display: none;
                figcaption {
                    color: #333333;
                    font: 700 14px Montserrat;
                }
                p {
                    text-align: center;
                    color: #666666;
                    font: 300 14px Roboto;
                }
            }
            .button--wraper {
                width: 192px;
                height: 40px;
                margin: 0 auto;
            }
            .close {
                margin: 0 auto;
                display: block;
                width: 192px;
                cursor: pointer;
                color: #ff4e50;
                font: 700 14px Montserrat;
                line-height: 37px;
                background-color: #ffffff;
                border: 2px solid #ff4e50;
                border-radius: 20px;
            }
            .button {
                margin: 0 auto;
                display: block;
                width: 192px;
                cursor: pointer;
                color: #ff4e50;
                font: 700 14px Montserrat;
                line-height: 37px;
                background-color: #ffffff;
                border: 2px solid #ff4e50;
                border-radius: 20px;
            }
             .ideas {
                 width: 80%;
                 margin: 0 auto;
                h1 {
                    margin-top: 95px;
                    color: #333333;
                    font: 700 22px Montserrat;
                    text-align: center;
                }
            }
                   * {
                box-sizing: border-box;
            }
            html {
                overflow-y: scroll;
            }
            body {
                font-family: sans-serif;

            }

            .grid-sizer,
            .grid-item {
                width: 30%;
                float: left;
            }
            .grid-item img {
                display: block;
                max-width: 100%;
            }
            .item__5,
            .item__6{
                width: 54%;
            }
            .item__1,
            .item__2,
            .item__3,
            .item__4,
            .item__7{
                width: 26%;
            }



            .search {
                text-align: center;
                margin: 0 auto;
                h1 {
                    margin: 96px 4px 0 0px;
                    color: #333333;
                    font: 700 22px Montserrat;
                }
                h2 {
                    margin: 33px 5px 0 1px;
                    color: #333333;
                    font: 300 18px Roboto;
                    text-align: center;
                }
                input {
                    width: 240px;
                    padding: 0 0 0 15px;
                    margin: 39px 0 0 0px;
                    color: #999999;
                    font: 300 14px Roboto;
                    background-color: #ffffff;
                    border-radius: 4px;
                    line-height: 35px;
                }
                button {
                    margin-left: 8px;
                    width: 160px;
                    background-color: #ff4e50;
                    border-radius: 20px;
                    border: 1px solid #ff4e50;
                    color: #ffffff;
                    font: 700 14px Montserrat;
                    line-height: 38px;
                    cursor: pointer;
                }
            }
            footer {
                text-align: center;
                margin-top: 100px;
                border-top: 4px solid #ff4e50;
            }
            .footer {
                width: 940px;
                margin: 0 auto;
            }
            .footer--name {
                display: block;
                float: left;
                letter-spacing: 1px;
                margin: 35px 5px 0 35px;
                color: #ff4e50;
                font: 700 16px Montserrat;
            }
            .footer--comp {
                display: block;
                float: left;
                margin: 36px 4px 0 92px;
                color: #333333;
                font: 700 14px Montserrat;
            }
            .links {
                float: left;
                text-align: left;
                display: inline-block;
                margin: 63px 0 0 -73px;
            }
            .footer--link {
                color: #666666;
                font: 300 14px / 24px Roboto;
            }
            .link__2 {}
            .link__3 {}
            .link__4 {}
            .footer--link:hover {
                color: black;
            }
            .footer--part {
                margin: 36px 0 0 89px;
                float: left;
                color: #333333;
                font: 700 14px Montserrat;
            }
            .footer--des {
                margin: 39px 37px 0 0;
                float: right;
            }
        }
